[2021-07-24 15:31] Haleymiranda79 opened #2421 "bc1qxp59ux9ztht5n7ap7ap3egvmyhye6y9vup7yr5"

[2021-07-24 18:03] polska333 commented on #2421
Hi what's this

On Sat, Jul 24, 2021, 11:32 AM Haley ***@***.***> wrote:

[2021-07-24 18:20] #2421 closed

[2021-07-25 01:21] polska333 commented on #2421
What is it???

On Sat, Jul 24, 2021, 2:20 PM Patrick Lodder ***@***.***>
wrote:

[2021-07-25 12:21] bobdos commented on #2124
OK, I draw my understanding here:

![mojidoge-dogecoin-space-currency](https://user-images.githubusercontent.com/195643/126898715-485c6ac4-823c-49f7-81ab-8a82f74e5cf4.jpeg)

[2021-07-27 17:22] Skorpiozz opened #2424 "[bug] i cant receive my dogecoins on dogecoin core wallet HELP"
i have doge coin core wallet what how they recommend it can expand till more than 10gb and downloading etc
i have wallet
i make prasscode and i know it and its working and i change it so its wallet pass or prasscode or key i know it
after i made the prasscode it appear the account with lock and say its encrypted
i try to transfear my dogcoins i mined already and unmineable is very leged i make alo

[2021-07-27 19:15] patricklodder commented on #2424
is your wallet fully synchronized? You can see this by going to Debug Console, and on the first tab it will tell you how many blocks you have locally.

[2021-07-27 20:07] Skorpiozz commented on #2424
yes sir the green line what it was toke forever finished and the blocks on my hdd is over 50 gb

[2021-07-27 20:13] Skorpiozz commented on #2424
3830121 blocks till this minute

[2021-07-27 20:18] Skorpiozz commented on #2424
dogechain i try to log in and they ask me password i right the passphrase its different from the password
other way of log in wallet on dogechain.com is private key
how to get the private key and my info encrypted all filels 0/-*9+dsf+d6g+f6g+s9d+
i think if i disable the encryption i will be able to search the private key
what command de-crypt the dogecoin core from my wallet ?
or just show the p

[2021-07-27 20:23] patricklodder commented on #2424
so you have given the mining pool your address from core, it should be picked up.

Do they give you a transaction id / hash for your withdrawal?

[2021-07-27 20:31] Skorpiozz commented on #2424
no sir the pool is unmineable they have application small and nice human interference thats how it attracted me to use their pool
i am exceeds the limit of the withdrow which is 30.94 doge
the limit is 30
so i can withdrow . when i click withdrow normally like how i do with the same app other wallets other coins immedietly the number become 0 so it means the coins transfeared

in theis wallets of

[2021-07-27 20:32] Skorpiozz commented on #2424
sadly the pool with no customer support unmineable,com
but they reliable that much withdrow not successed they return the balance

[2021-07-27 20:35] Skorpiozz commented on #2424
i wanna recive the coins then transfere them to coin base

if i know the coin base 6 monthes earlier i wont start mining with the dogecoin core wallet shiiiiiiiiiiiiiit

[2021-07-27 20:41] Skorpiozz commented on #2424
maybe they are 12 usd  but i was cpu mining i got fuckkkked to get those 30 coin . on coin base i have around 500 coin doge
because i bought some and now i am ethashing with external board 4 gpuz +6 gb videocards
but those 30 coin i was cpu
they toke monthes of 24/7

[2021-07-27 20:45] patricklodder commented on #2424
if you check the address that you withdrew to at https://sochain.com/DOGE - do you see the amount?

[2021-07-27 20:49] Skorpiozz commented on #2424
i should write the wallet in the box ?

[2021-07-27 20:52] Skorpiozz commented on #2424
i tried the url inclodes the wallet the url of the pool
was not found
i tried just the wallet address
also was not found

[2021-07-27 20:54] Skorpiozz commented on #2424
https://unmineable.com/coins/DOGE/address/DMVFHcHKqz8CTpqzHtr9SnV9RNYLCecgYG

[2021-07-27 20:55] Skorpiozz commented on #2424
30 coin hanged on the pool because the wallet dogecoin hardcore is mad lol

[2021-07-27 21:33] patricklodder commented on #2424
`DMVFHcHKqz8CTpqzHtr9SnV9RNYLCecgYG` is not a valid Dogecoin address.

Which version of Dogecoin Core did you use to generate this?

[2021-07-27 22:28] patricklodder opened #2425 "Make sure new code is thread safe"
We have to make sure that new code introduced between 1.14.0 and now is thread safe and have not consistently done this. Ideally we get this analyzed before 1.14.4, but may need to overlap to later releases.

_Triggered by discussion started by @nooperation in https://github.com/dogecoin/dogecoin/pull/2417#discussion_r676581213_:

Just a general comment about `nPendingHeaderRequests` in pull reque

[2021-07-28 03:52] Sttarrlord commented on #2241
QRL seems to have a great team and they did build a QRLcoin. I think we should analyse it and they are also on Bittrex and they have pretty good suit of interfaces.

[2021-07-28 07:44] Skorpiozz commented on #2424
114 its the first address its automatic genetated for me to recive i got it from dogcoin core ... i used it for mining

[2021-07-28 07:56] Skorpiozz commented on #2424
8 houra from now i will screen ahoot my dogecoin core with the sevral wallets they generated for me and this wallet was the first they generate and its one of them . thank you pal for being communicative and afford my bad english 😎

[2021-07-28 16:32] Skorpiozz commented on #2424
![dogecoin core 1 14 3   x46 ](https://user-images.githubusercontent.com/88051370/127361111-faa03422-2cdc-49fb-8079-c427782e38b8.jpg)

[2021-07-28 16:37] Skorpiozz commented on #2424
i am fucked ...
DMVFHcHKqz8CTpqzHtr9SnV9RNyLCecgYG
DMVFHcHKqz8CTpqzHtr9SnV9RNYLCecgYG

middle Y its y instead ...
now its not dogecoin core issue

is there a way to communicate unmineable.com support system ?
explain for them this odd situation .. ?

[2021-07-28 17:05] Skorpiozz commented on #2424
ok i sent them on support@unmineable.com
explaind everything with pictures and the problem was because manual writing instead of copy paste and the mistake is same letter just upper lower case issue
if they accept then i got my effort
if they didnt accept i am not mad at it i carry my own responsibility on my mistakes and i will keep use unmineable because they are trusted other pools  will disapp

[2021-07-28 17:17] Skorpiozz commented on #2424
**nooooooooo waaaaaaaaaaaaay   thats a donation ???? or from the team
its donation because its not 30.94    :D
who made this ??
maaaaaaaaaaaaaaaaaaaaaaaaaaaaaan   :D
**

![no way  ](https://user-images.githubusercontent.com/88051370/127367019-00b2aaf5-7384-4ca9-adfb-5c7950f1f817.jpg)

[2021-07-29 06:55] Skorpiozz commented on #2424
Thats whats UP ..
The first HUNGARIAN shop accept just
DOGE
thats my ownship store babieeeeeeeh 😎😎

![
![20210729_081403](https://user-images.githubusercontent.com/88051370/127445398-eabc7ff8-02ed-4dc4-bc25-8aa0cb7ac3a8.jpg)
![20210729_081406](https://user-images.githubusercontent.com/88051370/127445428-311dd641-65c5-4815-a8c8-759ca48f24bb.jpg)
Uploading 20210729_081102.jpg…]()

[2021-07-29 06:58] Skorpiozz commented on #2424
![20210729_081102](https://user-images.githubusercontent.com/88051370/127446147-cc22baea-de2c-4a6b-8cbf-5e614e407985.jpg)
![20210729_081406](https://user-images.githubusercontent.com/88051370/127446167-6b5057a4-9dbf-452e-beb3-cdd5ff95aef0.jpg)

[2021-07-30 14:57] #2424 closed

[2021-07-31 09:12] John-Gee opened #2432 "[bug] dogecoin-qt builds but segfaults with LTO"
# Bug Report

**Current behavior:**
Hello,

When I build dogecoin-qt using LTO, it builds fine, but when I run it segfaults pretty quickly. If I build it without LTO then there's no problem.

**Expected behavior**
The app should run fine with LTO.

**Steps to reproduce:**
- Build with LTO
- See the segfault when starting it.

**Dogecoin Core version**
1.14.3

**Machine specs**
- OS: Arch Linux amd

[2021-07-31 09:44] John-Gee commented on #2432
Looking around I see a bunch of qt applications having trouble with LTO, with the problem being passed from the qt devs to the compiler devs, not sure if any of that relates here though.

[2021-07-31 16:25] cryptaralex commented on #2241
They are trying to force a square peg into a round hole. QRL uses **stateful** XMSS, which really isn't well suited for the use case of a decentralized cryptocurrency. The overhead of keeping track of the one-time private keys that have been used to generate signatures, in order to prevent their reuse, is untenable.

[2021-07-31 19:07] patricklodder commented on #2432
I think the only real additional QT feature we got in v1.14.3 is the paper wallet generator, so may be we need to look at that. Otherwise, what version of Litecoin did you try? Since their latest is based off a newer bitcoin than we have with 1.14, we may be able to backport a patch.

Do you have some links for those issues?

[2021-07-31 23:25] Luca-Ziesler commented on #1887
Is everything sorted?

[2021-08-01 00:02] John-Gee commented on #2432
Hello,

I don't know if that problem is only with 1.14.3, I have not tested older versions, but I can if you want me to.

Good question!
I tried with Litecoin 0.18.1. I very quickly looked into their GH to see if there was anything about LTO but I couldn't find it, I'll look in Bitcoin's tree and issues.

For instance this: https://bugreports.qt.io/browse/QTBUG-61710

This one too: https://bugrepo

[2021-08-01 09:58] John-Gee commented on #2432
I've just tried with 1.14.2 and I get the same issue.

Maybe it is not dogecoin that changed, but maybe it is qt, or maybe it never worked on my computer with LTO and I just don't remember anymore as it is not something I build often. I'll update this once I look at Bitcoin.

[2021-08-01 15:08] AstroOrbis commented on #1887
I believe so!

[2021-08-01 20:05] xanimo commented on #2344
i would like to do this

[2021-08-01 20:06] xanimo commented on #2366
are you still experiencing difficulties with this?

[2021-08-01 20:31] xanimo commented on #2406
confimed have experienced this in several of the qa/rpc-tests. point of failure is the `assert_equal(return_code, 0)` within stop_nodes func in qa/rpc-tests/test_framework/util.py, i think L380. still researching the err but at first glance thinking it's to do with timing out:
[code]

[2021-08-01 23:52] Luca-Ziesler commented on #1887
Should we close this issue in that case?

[2021-08-02 03:35] AstroOrbis commented on #1887
I think that would be the best option.

[2021-08-02 17:15] #1887 closed

[2021-08-02 19:50] toneavii commented on #1854
Now that there is a foundation, can we continue with the PundiX listing?

[2021-08-03 09:12] shibe2 commented on #1854
@toneavii Why did you stop? What do you need foundation for? I thought that Dogecoin would be handled the same way as Bitcoin and Ethereum, and no formal organization would be needed for your purposes.

If it will turn out that you absolutely do need Dogecoin foundation to accept payments, please contact the foundation directly.

[2021-08-03 15:26] toneavii commented on #1854
@shibe2 My good sir I have worked tirelessly to make this a reality. I am not a team member of PUNDI, therefore I have limited power.

That is the reasoning. Who shall be the direct contact for foundation?

[2021-08-03 19:44] shibe2 commented on #1854
I don't know much about Dogecoin Foundation. It was doing charity projects in the past. All I that heard about new foundation is couple of tweets and this handle: https://twitter.com/DogecoinFdn

[2021-08-03 23:31] patricklodder opened #2435 "1.21: bring back compatibility tests"
Once the `1.21-dev` branch is capable of fully synching and AuxPoW-mining, but before any Alpha release, we **_MUST_** bring back the compatibility test suite that was disabled with https://github.com/dogecoin/dogecoin/pull/1754 to make sure that 1.14 and 1.21 play nice together, with emphasis on softforks that were disabled in 1.14 (CSV and SegWit) because that functionality can in theory still b

[2021-08-04 08:58] etherx-dev commented on #2344
So can anyone clarify which version of the software was bip32 intruduced in dogecoin. Core?

[2021-08-04 13:54] #2406 closed

[2021-08-04 13:55] patricklodder commented on #2406
Fixed with #2434

[2021-08-04 16:52] patricklodder commented on #2344
First implementation that defined the BIP32 parametrization was done in v1.7.0, first wallet integration was in v1.14.0

[2021-08-06 22:59] AdvaitDhingra commented on #2384
So one would just add this address under something like "Support the developers"? I'd like to try this issue.

[2021-08-08 03:00] etherx-dev commented on #2017
Fix whatever the malicious developer did here  https://github.com/dogecoin/dogecoin/pull/52/files And post a donation address if it helps recover wallet issues your in for a treat

[2021-08-08 05:14] patricklodder commented on #2017
@etherx-dev that code has not been used in 7 years...

[2021-08-08 07:53] AbcSxyZ commented on #2384
Adding the wallet to the README is not a big deal.

What is more important from my point of view is to have some explanation about how it's used. They said there is transparency, but transparency is not restricted to showing the amount of money.

Personally, I would never send money to this address and recommend doing it until I do not have any information about who manage the account and the purp

[2021-08-10 09:04] malingzhao opened #2442 "Is there a 1 kb fee of DogeCoin"

[2021-08-10 11:35] usefulcat1546 commented on #1876
I have in possession the test wallet with the first 100 addresses generated. I also have the blocked wallet with over 2000 addresses including the 100 test wallet addresses.
The mkey part in this wallet corresponds to the test wallet.

[2021-08-10 11:37] usefulcat1546 commented on #1876
I'll be ready to give 30,000 Dogecoin to whoever unlocks it for me. I also reward the people who have already helped me. thanks a lot

[2021-08-10 17:51] #2442 closed

[2021-08-11 09:49] wrapperband opened #2445 "Can't send a test amount of < 100 Doge to check address is correct"
I have tried to send 20 and 100 Doge, £3.6 and £18 - with fees of 1 Doge/kb

to   DAo622suZgJf8F2Gm5yYWPvvv55UwN5wng

as test sends, before sending  the main amount. It is fully synced, peered and 500kB/s network.

I abandoned the first one tx as, after hours of messing, it was not in any mem pool explorer, I opened ports, addnode and tried everything I could think of or research.

This is the err

[2021-08-11 14:42] patricklodder commented on #2445
Hi! Do you have the raw transaction preserved?

[2021-08-11 15:35] wrapperband commented on #2445
01000000018d3811d5c24b18877c7857717021137073d98e74fba08c9d085d71dfdb1023875e0000006b483045022100f06847d409c19d699283de16b52cb93fd2ca0eb16c62c938335876aae5c23dcc02207e8e0b07ed527cae5f4c687f22d9e76dc0e6db8240b71adcff3eb42f144d24c3012102426a9d3d40ccbbfd8267b345b18597486a0041d0a3760814f5b85c1fdb96ccfefeffffff020003164e020000001976a9143e08001dbb1263b4c8081d6e482b78ac344afe3788ac78e34e06000000001976a914

[2021-08-11 15:44] patricklodder commented on #2445
I see no reason for this tx to not be processed by mempool / relay, so this looks like a networking issue.

If you're using dogecoind, what is the output of `dogecoin-cli getnetworkinfo`?

If you're using dogecoin-qt, go to `help->debug window->"peers" tab` and then does it list any peers? And if yes, what version?

[2021-08-11 16:22] wrapperband commented on #2445
As I said - I am fully synced and have lots of peers currently ~14 - having addnode(d) as well - mostly 1.14.3

getnetworkinfo
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><style type="text/css">
p, li { white-space: pre-wrap; }

  | { "version": 1140300, "subversion":

[2021-08-11 17:24] wrapperband commented on #2445
2021-08-10 20:04:30 AddToWallet 58b46087a17cad906aa8e560440ddc648fbf0807fe0886ed1af16f78fdcbdd4e  new
2021-08-10 20:04:31 CommitTransaction(): Transaction cannot be broadcast immediately, bad-txns-inputs-spent

Could the second one have failed because the first wasn't removed from mempool and I need to run -zapwallettxes and -rescan??

[2021-08-11 18:00] patricklodder commented on #2445
I just did further research, I missed that that input was already spent:

`872310dbdf715d089d8ca0fb748ed973701321707157787c87184bc2d511388d:94` has been spent in `718d6f3159178a85317350d7d48503d23ff1d5a6f84cbae4a516f645a8eb2f9b` on Nov 25, 2017 - [see for example chain.so](https://chain.so/tx/DOGE/718d6f3159178a85317350d7d48503d23ff1d5a6f84cbae4a516f645a8eb2f9b)

Could the second one have failed b

[2021-08-11 18:33] patricklodder commented on #2445
1 - I parsed the tx you pasted with dogecoin-tx: `

$ build/dogecoin-tx -json  01000000018d3811d5c24b18877c7857717021137073d98e74fba08c9d085d71dfdb1023875e0000006b483045022100f06847d409c19d699283de16b52cb93fd2ca0eb16c62c938335876aae5c23dcc02207e8e0b07ed527cae5f4c687f22d9e76dc0e6db8240b71adcff3eb42f144d24c3012102426a9d3d40ccbbfd8267b345b18597486a0041d0a3760814f5b85c1fdb96ccfefeffffff020003164e02000

[2021-08-11 22:11] wrapperband commented on #2445
Cheers,

[2021-08-11 22:11] #2445 closed

[2021-08-15 00:43] shibe2 commented on #1876
I guess, you may have accidentally replaced the wallet.dat while Dogecoin Core was running.

[2021-08-15 07:41] taurus228 commented on #1863
Join your team on Slack

taurussssssssss ***@***.***) has invited you to use Slack with them, in a workspace called Hi.

Workspace name: Hi

H

hi-vh78894.slack.com []

Join Now [https://join.slack.com/t/hi-vh78894/invite/enQtMjM5NDY2OTc1OTI5Ny0yODdlOTJkYWRhNWMyZmMwMDhhYzcxZGU1ODgyODBiYzU4ZWEyMjk4NTRjYWU4YTM5MTYzYTViY2E3NWI3ZGU2?x=x-p932605326480-921137271987-2382051818226]

taurussssssssss and 4

[2021-08-16 00:47] ReverseControl commented on #2321
@patricklodder  Bullet 2 for `libevent` should be checked as that is done. Bullet 3 should be removed as that is no longer part of the 1.14.4 mile stone.

How can I help for the remaining two bullets?

[2021-08-16 01:06] ReverseControl commented on #2281
@patricklodder  Per #2286 , ca we please close this and remove it from the 1.14.4 release queue?

[2021-08-16 01:42] patricklodder commented on #2281
The "vulnerability" still exists, so I don't think it's wise to close this. I've removed the PR and this issue from the 1.14.4 project board - should still get fixed though.

[2021-08-16 05:05] ReverseControl commented on #2338
@patricklodder Given #2365 , as pointed out by @rnicoll above, could we move this one for the next release as well along with #2365 as it seems to me the solution to that would also resolve this one?

[2021-08-16 05:07] ReverseControl commented on #2400
@patricklodder  Is the OpenSSL server accessible yet? If you tell me where to look for the dependencies, and what to do once I get the tarballs I can take care of this one.

[2021-08-16 06:00] taurus228 commented on #1863
Join Hi on Slack

Just a quick reminder that your invitation from taurussssssssss ***@***.***​com) is waiting. Don’t miss out — come join the conversation in the Hi workspace!

Join Now [https://join.slack.com/t/hi-vh78894/invite/enQtMjM5NDY2OTc1OTI5Ny0yODdlOTJkYWRhNWMyZmMwMDhhYzcxZGU1ODgyODBiYzU4ZWEyMjk4NTRjYWU4YTM5MTYzYTViY2E3NWI3ZGU2?x=x-p932605326480-921137271987-2389483055460]
What is Slack?

[2021-08-16 06:49] taurus228 commented on #1863
Welcome to Slack

Ta-da! You’ve joined your first Slack workspace and we couldn’t be more delighted. Here are your account details, along with some tips to help you get started.

Workspace name: Hi

H

hi-vh78894.slack.com []

Open Slack [https://hi-vh78894.slack.com/x-p932605326480-2394669833649-2389591183348/archives/CTEJDMRNH]

Tips for getting started

Take a quick tour

Get familiar with the

[2021-08-16 06:49] taurus228 commented on #1863
Slack account sign in from a new device

📱 Android in NGA

Signed in to Hi (https://hi-vh78894.slack.com/) on 8/16/21

Location based on IP address: 154.118.70.129

If this was you, you’re all set!

If this wasn’t you, please change your password [https://hi-vh78894.slack.com/x-p932605326480-2394669833649-2389591495076/account/settings#password]. You can also enable two-factor authentication [http

[2021-08-16 07:31] patricklodder commented on #2338
That's a question for @rnicoll because he assigned this to himself :-)

[2021-08-16 07:34] ReverseControl commented on #2338
@rnicoll See comment above. please.

[2021-08-17 10:27] ReverseControl commented on #2338
@rnicoll Could you please take a look at this?

[2021-08-17 18:24] ReverseControl commented on #2283
@patricklodder @rnicoll  Who is working on this? How can I help?

[2021-08-17 23:35] rnicoll commented on #2338
@ReverseControl Sorry for some reason I seem to not get half the GitHub notifications.

We had a nightmare of a time getting the Qt update to work on every platform, I want to push ahead with getting the current batch of improvements into 1.14.5, but yes aware we need to come back to this.

[2021-08-17 23:45] ReverseControl commented on #2280
@rnicoll  @patricklodder  Given we took care of this in #2297 we can close this one and remove it from the 1.14.4 board. Thanks.

[2021-08-17 23:48] ReverseControl commented on #2338
@rnicoll I am on the Dogecoin Discord server, my Email and tweeter are also on my git profile. You can reach me directly and can coordinate better. Same for @patricklodder  @michilumin.

[2021-08-17 23:59] ReverseControl commented on #2283
@patricklodder @rnicoll @michilumin

This fix requires a significant amount of work to implement properly. See Bitcoins, #11490 ( https://github.com/bitcoin/bitcoin/commit/d93fa261f079d529a94ff26aa406a49e28d10340 ),  where the merge description describes the kind of work I mean. For reference:

[code]

Subsequent to that, we will need to implement #11568 (https://github.com/bitcoin/bitcoin/commit/

[2021-08-18 10:18] ReverseControl commented on #2384
@AbcSxyZ I strongly support your position on this matter. My wallet, for the README as a developer, DNoeNGVT3miw1gk2DpksvDe8W1Ub5bakag.

[2021-08-18 10:21] ReverseControl commented on #2350
@patricklodder  @rnicoll @michilumin This should be closed.

[2021-08-18 10:40] ReverseControl commented on #2336
@lijianl This issue as written is non-descriptive and helps little. See below for a guide on how to write a constructive ``New issue`` request.

[code]

Incidentally, @patricklodder @rnicoll @michilumin , we should a  ``New Issue`` and  ``New Pull Request`` template like the one above. Could be that one, or we could tweak it to fit us better.

This issue should be closed. When it is improved to a

[2021-08-18 10:51] ReverseControl commented on #2293
@patricklodder Close this issue.

[2021-08-18 10:52] ReverseControl commented on #2280
@patricklodder Close this one.

[2021-08-18 10:58] ReverseControl commented on #2263
@maxware66 What is the status on this? I sent them a tweet.  https://twitter.com/LionesEscanor/status/1427947714591997954?s=20

[2021-08-18 11:18] ReverseControl commented on #2194
Privacy and decentralization are the core of Blockchain technology. To maintain those two properties and add that feature it would have to be implemented in the blockchain itself, something like IP at the Transport Layer of the OSI model, but on the Dogecoin blockchain itself. So that messages could be sent to wallets, using only the wallet (public key), as the identifier of where to send the mess

[2021-08-18 11:32] ReverseControl commented on #2241
On this matter I am of the following opinion:

I strongly favor Dilithium signatures because the corresponding Encryption/Decryption scheme (KYBER) also made it to the final of NIST's PQC competition so that if we want to use Post-Quantum Private/Public Keys in the future the work needed to be done will be substantially reduced. Also, the mathematics behind these two schemes is identical; so even

[2021-08-18 11:34] ReverseControl commented on #2104
@edtubbs Any updates on this?

[2021-08-18 11:56] ReverseControl commented on #1968
@patricklodder Close this one.

[2021-08-18 11:58] ReverseControl commented on #1918
@patricklodder @rnicoll  @michilumin I think we can close this one.

[2021-08-18 13:03] ReverseControl commented on #1747
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-18 13:09] ReverseControl commented on #1691
@nikitis All transactions cost 1 DOGE. There is no incentive for nodes or miners to favor any transaction more than other, they all cost the same.

Having said that. Fees are in the process of being reduced, and the bug you allude has partly been addressed already (#2446 ).

@patricklodder @rnicoll @michilumin  We can close this.

[2021-08-18 13:14] ReverseControl commented on #1692
@crozone We do not target Debian's Bullseye specifically. You can build from source, or get the binaries here: https://github.com/dogecoin/dogecoin/releases.

@patricklodder @rnicoll @michilumin I think we can close this one.

[2021-08-18 13:53] ReverseControl commented on #1671
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-18 13:54] ReverseControl commented on #1649
@patricklodder @rnicoll @michilumin We should close this until there is an update.

[2021-08-18 16:51] ReverseControl commented on #1577
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-18 17:07] ReverseControl commented on #2435
@patricklodder Should we close this one?

[2021-08-18 17:08] ReverseControl commented on #2282
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-18 17:21] ReverseControl commented on #1563
@komer83 Were you able to resolve this issue?

[2021-08-18 17:22] ReverseControl commented on #1559
@ikamran Were you able to resolve your issue?

[2021-08-18 17:23] ReverseControl commented on #1513
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-18 18:57] ReverseControl commented on #1393
@Crypto2 Did 1.14.3 fix your issue?

[2021-08-18 19:28] edtubbs commented on #2104
@ReverseControl, there's a plan to pull this in after 1.14.4 is released.

[2021-08-18 19:58] Crypto2 commented on #1393
I think so, I haven't seen it happen in a long time.

[2021-08-18 21:16] ReverseControl commented on #2283
@patricklodder Given  #2459, let's move this one as well to 1.14.5.

[2021-08-18 21:20] ReverseControl commented on #1393
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-18 21:21] #1393 closed

[2021-08-18 21:24] ReverseControl commented on #2400
@patricklodder What is the status of this one?

[2021-08-18 21:33] patricklodder commented on #2400
Meta. Moved it out of the queue.

[2021-08-18 21:54] patricklodder opened #2460 "Open items for 1.14.4 release as of 8/18/2021"
Listing for visibility. If no issues under the second item, I think this can be finalized on 8/19.

- [x] Update `README.md` and `doc/build-unix.md` - I have tested updates to some elements ready, will simply mark everything I could not verify as outdated / work in progress.
    - [x] #2465
    - [x] #2466
- [x] Make sure that unlike CI artifacts, gitian-built binaries are good, I've seen indicati

[2021-08-19 00:02] patricklodder opened #2462 "1.14.4-dev gitian built binaries pre-check"
I've tagged [v1.14.4-stage-rc3](https://github.com/patricklodder/dogecoin/tree/v1.14.4-stage-rc3) off of 59da28cb06fdb569fbb4d3975c01686a88f8ab11 - which is currently the tip of v1.14.4-dev - and gitian-built it. It would be great to know if there are any issues on the gitian built binaries, I've not uploaded installers, just zipped binaries:

### Binaries:
- aarch64 linux: [dogecoin-1.14.4-aarch6

[2021-08-19 00:40] patricklodder commented on #2462
I've verified working binaries `dogecoind` from `dogecoin-1.14.4-x86_64-linux-gnu.tar.gz` successfully on clean installs of:
- Ubuntu 20.04
- Ubuntu 21.04
- Fedora 34
- CentOs 8
- Debian 11

And `dogecoind` and `dogecoin-qt` from `dogecoin-1.14.4-osx64.tar.gz` successfully on macOS 11.3.1

[2021-08-19 01:40] xanimo commented on #2462
currently syncing testnet on a raspberry pi 4 on raspbian buster. no issues seen so far.

[2021-08-19 01:49] ReverseControl commented on #2460
@patricklodder Can we open 1.14.5-dev please? I want to start working on that.

[2021-08-19 06:18] Rasika9596 commented on #2366
Hello,

Node started syncing after opening both of the ports and it reached 3847136 blocks but after that, it stopped syncing.
Can anyone please help me with the below logs what could be a problem?

[code]

[2021-08-19 07:13] ReverseControl commented on #1313
@rnicoll Was this ever addressed? It appears it hasn't, at least up to 1.14.4.

[2021-08-19 07:20] ReverseControl commented on #1314
@patricklodder @rnicoll @michilumin Close this one. Issue is fixed by 1.14.4-dev. Not sure when it was fixed, but it is fixed.

[2021-08-19 07:26] ReverseControl commented on #1321
@DavidBurela Is this still an issue in the latest version of dogecoin core?

[2021-08-19 07:28] patricklodder commented on #2460
Can just open PRs against 1.14.4-dev for now, we'll just re-hang them to 1.14.5-dev later

[2021-08-19 07:33] ReverseControl commented on #1355
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-19 07:34] ReverseControl commented on #1357
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-19 07:39] ReverseControl commented on #1398
@patricklodder @rnicoll @michilumin I think we can close this one. Both strace and dogecoin have come a long way. This issue could be opened again if its still relevant. I would suggest closing it at this time.

[2021-08-19 07:46] ReverseControl commented on #1563
@patricklodder @rnicoll @michilumin I'd suggest closing this one. The shibe could re-open it if problem stills exist.

[2021-08-19 07:47] ReverseControl commented on #1564
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-19 07:49] ReverseControl commented on #1584
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-19 07:50] ReverseControl commented on #1594
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-19 07:55] ReverseControl commented on #1604
@Joter271 This issue might be fixed in 1.14.4. Could you please test it and post the update.

[2021-08-19 07:56] ReverseControl commented on #1610
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-19 07:59] ReverseControl commented on #1613
@yu-qingyun Was issue resolved in later versions of dogecoin?

[2021-08-19 08:00] ReverseControl commented on #1622
@patricklodder @rnicoll @michilumin Close this.

[2021-08-19 08:01] ReverseControl commented on #1624
@cosmo9able @wcostaprijo Please gives us an update on this.

[2021-08-19 08:03] ReverseControl commented on #1633
@patricklodder @rnicoll @michilumin Close this.

[2021-08-19 08:06] ReverseControl commented on #1640
@patricklodder What is the status of this? Are we adding it to 1.14.5?

[2021-08-19 08:15] ReverseControl commented on #1650
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-19 08:25] slightlyskepticalpotat commented on #2263
After I stripped off the debug symbols from both of the executables, they are both 33,735,184 bytes large and bit-for-bit identical. Nothing malicious is happening here.

[2021-08-19 08:25] ReverseControl commented on #1652
@richiela If you have not resolved your issue, the upcoming release ( that should be out by the end of the week at the latest) will likely help you resolve your issue.

``minrelaytxfee`` will be set to 1/1000 of its current value, so .001 DOGE, furthermore there was a bug with ``minrelaytxfee`` that has been fixed in 1.14.4, so you may set this fee higher and it will do the right thing in all scen

[2021-08-19 08:27] ReverseControl commented on #1654
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-19 08:29] ReverseControl commented on #1658
@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-19 08:31] ReverseControl commented on #1659
@patricklodder @rnicoll @michilumin As original issue was addressed and resolve, close this one.

[2021-08-19 08:32] ReverseControl commented on #1663
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-19 08:34] slightlyskepticalpotat commented on #1667
Looking through my threads, I noticed this is fixed now. @patricklodder this issue should probably be closed.

[2021-08-19 08:36] ReverseControl commented on #1667
Also, see https://github.com/dogecoin/dogecoin/blob/1818c33a548ef3515aaf0a1b24e6a943dc9eaac7/doc/build-windows.md.

@patricklodder @rnicoll @michilumin We can close this one.

[2021-08-19 08:39] ReverseControl commented on #1677
@DemonRx  Do you still have this issue with v1.14.3 or v1.14.4?

[2021-08-19 08:40] ReverseControl commented on #1682
@patricklodder @rnicoll @michilumin Close this one.

[2021-08-19 08:52] ReverseControl commented on #1693
@patricklodder @rnicoll @michilumin  We can close this one.

[2021-08-19 09:15] AbcSxyZ commented on #2460
Also, I guess having a clean `INSTALL.md` would be great.

I started some work in #2313, but I mainly extracted the mess from the initial README.md and put it in the `INSTALL.md` in order to keep all developer related instructions there (debug, technical info for contrib). So definitively in progress, some work needed.

[2021-08-19 13:54] gewure commented on #1640
Its open and not ported. Imo a big ticket, a lot of python code and rather deep knowledge of the RPC-API needed.

[2021-08-19 14:47] DavidBurela commented on #1321
I haven't used it in years. No one else had reported the same issue, I'll just close it. Thanks for the help

[2021-08-19 14:47] #1321 closed

[2021-08-19 18:50] xanimo commented on #2462
confirmed full testnet sync overnight on:
Raspberry Pi 4 Model B Rev 1.4
ARMv7 Processor rev 3
Raspbian GNU/Linux 10 (buster)

[2021-08-19 21:49] xanimo commented on #2366
i can't find anything wrong actually. i think you are good to go!

[2021-08-19 22:39] patricklodder commented on #2460
As with #2328, I am cherry-picking as much as I can from your work to get it into the release (so that it is reflected on `master`) and will raise a new non-conflicted PR to get it done, like with the unix-build.md changes.

It doesn't "fix" the gitian build, it automates large parts of it in a more maintainable way than the current script, using containerization over VMs. It won't however make it

[2021-08-19 22:59] patricklodder commented on #2462
As I'm currently convinced that:

1. The issues reported with CI artifacts (glibc traces on armhf and segfaults on i686) did not carry over to gitian built binaries, and
2. At least the linux hashes are deterministic

I consider this resolved for #2460 but will leave this open for any further comments until we fixate the v1.14.4 release.

[2021-08-20 04:37] #1693 closed

[2021-08-20 09:59] AbcSxyZ opened #2471 "Refresh README introduction sentence"
The README is having a rework, I guess changing the introduction sentence to let people understand easily what is dogecoin and his core specifically would be great. I guess it's not something intuitive.

Something which may be understood by non-technical users and having something less cryptic than

I'm starting a suggestion, feel free to improve or suggest one.

[2021-08-20 11:51] Possible7198 commented on #1806
Great

[2021-08-20 11:51] Possible7198 opened #2472 "Great"
Great

_Originally posted by @Possible7198 in https://github.com/dogecoin/dogecoin/issues/1806#issuecomment-902637248_

[2021-08-20 17:55] AbcSxyZ commented on #2460
To late for #2473 #2470 & #2471 ?

[2021-08-20 18:45] patricklodder commented on #2460
Yes, they'll have to go into 1.14.5 - I'll rehang your PRs (and the others) for you the moment 1.14.5-dev is there.

[2021-08-20 18:57] QuickMythril commented on #2471
my suggestion for a quick re-write that includes info from both intros:

[2021-08-20 18:59] patricklodder commented on #2462
Closing this as v1.14.4 is tagged. Thanks to everyone that helped out with this!

[2021-08-20 18:59] #2462 closed

[2021-08-20 19:02] AbcSxyZ commented on #2471
I guess we should have something without any parenthesis.

Also, I add previous note from a discuss on Discord, if it can be useful.

And give a hint that dogecoin is a fork from bitcoin/litecoin seem important

[2021-08-20 19:10] patricklodder opened #2475 "[bug] FreeBSD compilation fails on scrypt.h"
# Bug Report

**Current behavior:**

Compiling Dogecoin Core (without wallet) on FreeBSD 11.4 fails with the following error:

[code]

**Steps to reproduce:**

On a clean FreeBSD 11.4 install, do:

[code]

**Dogecoin Core version**: 1.14.4

**Machine specs**
- OS: FreeBSD 11.4
- CPU: QEMU Virtual CPU version 2.5+ (amd64)
- RAM: 2048MB

[2021-08-20 19:15] chromatic commented on #2475
[Litecoin appears to have fixed that with a define](https://github.com/litecoin-project/litecoin/commit/3105ef37d83b84d9fdf248989be396bcecc11155).

Similar fix in [PivX cryptocurrency project](https://github.com/Fuzzbawls/PIVX/commit/1433cb63fe2c5da2ea29a40db421ef9aef318e07).

[2021-08-20 19:23] QuickMythril commented on #2471
ok here's (hopefully) an improvement:

[2021-08-20 19:24] ReverseControl commented on #2462
For the record, my hashes after gitian build:

[code]

@michilumin

[2021-08-20 19:33] ReverseControl commented on #2471
@QuickMythril So far, I like @QuickMythril  the most.

[2021-08-20 19:33] patricklodder commented on #2475
This has been fixed already in 1.21-dev and is only a problem for 1.14.x

[2021-08-20 19:35] Possible7198 opened #2476 "Great"
Great MX7WWL5UWVcBeMQJEJqftSrCmf4XCHZReZ

_Originally posted by @Possible7198 in https://github.com/dogecoin/dogecoin/pull/2474#discussion_r693173645_

[2021-08-20 19:54] ReverseControl commented on #2475
Who is taking this one up?

[2021-08-20 20:08] ReverseControl commented on #2475
@patricklodder Are we fixing this for 1.14.4?

[2021-08-20 20:27] patricklodder commented on #2475
No. 1.14.5 is fine.

[2021-08-20 20:52] patricklodder commented on #2460
My gitian build output + sigs are in https://github.com/dogecoin/gitian.sigs/pull/20

build sha256sums:

[code]

[2021-08-20 21:17] #1804 closed

[2021-08-20 21:17] #2021 closed

[2021-08-20 21:17] #2149 closed

[2021-08-20 21:17] #2214 closed

[2021-08-20 21:17] #2280 closed

[2021-08-20 21:17] #2460 closed

[2021-08-20 23:42] slightlyskepticalpotat commented on #1313
It looks like bitcoin core implemented this functionality in https://github.com/bitcoin/bitcoin/commit/4f8704d57f8fb2958a43534779b20201b77eecae with v0.17.0rc1, and litecoin core ported it over at https://github.com/litecoin-project/litecoin/commit/4f8704d57f8fb2958a43534779b20201b77eecae.

[2021-08-20 23:46] ReverseControl commented on #1313
@patricklodder We should include this in 1.14.5.

[2021-08-20 23:48] patricklodder commented on #1313
👍 Re-milestoned it & added to 1.14.5 project.

[2021-08-21 00:46] patricklodder commented on #1640
We've made some progress on this with making `bumpfee.py` and `p2p-acceptblock.py` working, but we're far from there.

At the moment I am more worried about the protocol tests (like `p2p-compactblocks.py`) not working than this, but any improvements that tick things off this list are awesome - don't have to be done all at once.

[2021-08-21 00:49] #1667 closed

[2021-08-21 00:49] #1663 closed

[2021-08-21 00:50] ReverseControl commented on #2460
For the record, these are my hashes:

[code]

[2021-08-21 00:50] #1659 closed

[2021-08-21 00:50] #1658 closed

[2021-08-21 00:52] patricklodder commented on #1654
Fixed with #1655

[2021-08-21 00:52] #1654 closed

[2021-08-21 00:53] mmalta-daily commented on #2460
@patricklodder which branch/tag/commit are you using to have those Gitian signatures?

[2021-08-21 00:55] micaelmalta commented on #2460
@patricklodder  which tag/branch/commit are you using to get those Gitian sigs?

[2021-08-21 00:55] patricklodder commented on #2460
dogecoin/dogecoin tag v1.14.4

[2021-08-21 00:58] #1622 closed

[2021-08-21 00:59] #1610 closed

[2021-08-21 01:00] #1594 closed

[2021-08-21 01:01] patricklodder commented on #1564
Fixed with #1655

[2021-08-21 01:01] #1564 closed

[2021-08-21 01:03] #1357 closed

[2021-08-21 01:05] patricklodder commented on #1314
Fixed with 1.14.x

[2021-08-21 01:05] #1314 closed

[2021-08-21 01:06] patricklodder commented on #2282
Fixed with #2306

[2021-08-21 01:06] #2282 closed

[2021-08-21 01:06] patricklodder commented on #2435
Absolutely not. This is imho a must-have for 1.21

[2021-08-21 01:12] patricklodder commented on #1649
This has been fixed with #2417

[2021-08-21 01:12] #1649 closed

[2021-08-21 01:13] #1671 closed

[2021-08-21 01:17] patricklodder commented on #1577
I have received a similar report on 1.14.3 from a large service provider but have trouble reproducing it. I'd like to keep this one open.

[2021-08-21 01:24] micaelmalta commented on #2460
@patricklodder I don't have the same sigs for v1.14.4. I can confirm that it works for v1.14.3 though :(

[2021-08-21 01:37] micaelmalta commented on #2460
All of them...

`
1.14.4
e7193efdbf5963e584a173e1faea6f9902df5427a49c3d82cc038d472236fd77  dogecoin-1.14.4-aarch64-linux-gnu-debug.tar.gz
b1c13605651a9f7c0d12b10899c4b8c101cbde0cef0eb27777b0bc9af4e77c9b  dogecoin-1.14.4-aarch64-linux-gnu.tar.gz
677b36a4725ee6148693a0baf83315067b745ae260998855963739ca799eff0d  dogecoin-1.14.4-arm-linux-gnueabihf-debug.tar.gz
7ae377131c8f8ca43609d307d29623c56f265f82

[2021-08-21 01:39] micaelmalta commented on #2460
Currently launching a Gitian sign to get the assert file to check the differences

[2021-08-21 01:49] micaelmalta commented on #2460
Just launched for osx and I have a different clang version...

`>     48b83ef827ac2c213d5b64f5ad7ed082c8bcb712b46644e0dc5045c6f462c231  clang+llvm-10.0.1-x86_64-linux-gnu-ubuntu-16.04.tar.xz
411a416

[2021-08-21 01:53] patricklodder commented on #2460
That would only change osx though, clang is not used for linux/win

[2021-08-21 01:55] micaelmalta commented on #2460
let me try with linux

[2021-08-21 01:59] micaelmalta commented on #2460
Full diff for osx

[code]

[2021-08-21 02:03] patricklodder commented on #2460
This is using the builder from https://github.com/micaelmalta/gitian-builder-dogecoin ?

[2021-08-21 02:10] micaelmalta commented on #2460
Yes, and as I said, it working perfectly for 1.14.3

[2021-08-21 02:10] patricklodder commented on #2460
I've spun up a clean node and will look

[2021-08-21 02:32] micaelmalta commented on #2460
Running with Cirrus get the same sigs

[code]

So either I have a compromised machine or ...

[2021-08-21 02:47] patricklodder commented on #2460
YAY! 🥳

Interesting! I'm letting my run of your script finish linux builds... let's see what it spits out. Only 8 processes on this box though so it'll take a little while.

[2021-08-21 03:06] patricklodder commented on #1691
The good news is that this was actually fixed with #2446 and the QT wallet now allows you to set the fee as high or as low as you wish.

I'll close this now.

[2021-08-21 03:06] #1691 closed

[2021-08-21 03:07] #1747 closed

[2021-08-21 03:07] #1918 closed

[2021-08-21 03:08] patricklodder commented on #1968
Fixed with #2249

[2021-08-21 03:08] #1968 closed

[2021-08-21 03:12] patricklodder commented on #2293
Implemented with #2308, released with 1.14.4!

[2021-08-21 03:12] #2293 closed

[2021-08-21 03:12] #2336 closed

[2021-08-21 03:13] #2350 closed

[2021-08-21 03:21] patricklodder commented on #2460
It does OSX first to my surprise, so here's that instead of linux:

[code]

Those match my hashes from my gist script too.

I think the issue with your local build is caused by something getting cached - either in inputs or cached dependencies. Personally I am always way too lazy to clean those up between releases, but maybe for release signing this would not be a bad idea at all to do that struct

[2021-08-21 04:02] micaelmalta commented on #2460
@patricklodder I just found the issue!

Weirdly, the folder inputs/dogecoin is never totally cleaned by Gitian so it might include some old files on it...

Adding those lines on the Gitian script make it work 🚀

[code]

[2021-08-21 04:11] micaelmalta commented on #2460
PR updated #2396 ;)

[2021-08-21 07:23] AbcSxyZ commented on #2170
Done

[2021-08-21 07:23] #2170 closed

[2021-08-21 08:51] gewure commented on #1640
Wouldn't it make sense to split this up into more digestable tickets, some of them are much more effort than others.

unfortunately im neither good in python nor in coindaemon RPCs - else i would have done something here already but the effort to comprehend seems quite high.

[2021-08-21 09:14] patricklodder commented on #1640
This was mostly just meant to be a list that reflects which RPC methods have no test at all.

Some of those should basically just be contract tests so that we can track breaking changes to the API, i.e. gettxout can be put into a test that creates some outputs and then queries the RPC to make sure that:

a) the outputs are listed
b) the fields are showing values as expected

and done.

I can creat

[2021-08-21 15:31] ReverseControl commented on #1640
@patricklodder Examples always help.

[2021-08-21 16:51] chromatic commented on #1313
Bitcoin core started down this path with an [ArgsManager class](https://github.com/bitcoin/bitcoin/commit/f2957ce6cd2c9f67580f5e0ba2519b0f3c8799d7), though I see references later in the code that a single shared `gArgs` object made certain kinds of testing and fuzzing awkward.

Refactoring argument handling to a single manager class seems like a good first step though.

I'll start on this and see

[2021-08-21 17:55] chromatic commented on #1912
@CosmoRied I ran into this again today. Can you fork this repo and submit a PR against the `1.14.5-dev` branch? That'll make it easy for a reviewer to review and test. Thanks!

[2021-08-22 11:57] CosmoRied commented on #1912
@chromatic I have submitted a PR with the required changes. Additional ignore statements can be added to support the cleanliness of compiling such as -Wunused-function, -Wreturn-type & -Wunused-variable...

[2021-08-22 15:24] ReverseControl commented on #2475
@Saint111188 The fix for this one is straightforward, see @chromatic  comment, https://github.com/dogecoin/dogecoin/issues/2475#issuecomment-902902749, Could you implement it and push it?

[2021-08-22 17:57] tremuddie opened #2486 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-08-23 14:24] XelaAl commented on #1799
I've recently faced the same issue. I installed the Dogecoin core and nothing worked. That was really bad timing as finished a project for the TopWritersReview company and they agreed to pay me with cryptocurrency. After several attempts, I just deleted the software and installed it again. I still don't know what happened, but it started working.

[2021-08-24 05:11] justdaksh commented on #2471
Here is an professional layout of the aforesaid subject:

[2021-08-24 14:32] Luca-Ziesler commented on #1887
Pardon me, but has the disclaimer been deleted on https://www.dogecoinfah.com ?

[2021-08-26 06:11] ftechizPrashant opened #2494 "createwallet command is not present in dogecoin-cli"
There is no command to create multiple wallets in dogecoin-cli like in litecoin and bitcoin there is createwallet command in cli. So is there any way to create and manage multiple wallets in dogecoin-cli? I am using dogecoin-cli 1.14.3. Also, there's a lot of commands that are present in litecoin cli which are not present in dogecoin-cli. Please help. Thanks.

[2021-08-28 19:45] intarpit opened #2498 "Make use of python f-string to make the code easily readable, consistent and faster."
# Feature Request
Hi, All Dogecoin lovers,
I am a python developer and while I was checking our Dogecoin python code, I found that we are not using f-string in a lot of places. Therefore I would like to suggest making use of the python f-string in our code. Python f-string will make our code faster, easily readable, and consistent.

I am suggesting replacing the following things in code with f-str

[2021-08-28 20:23] slightlyskepticalpotat commented on #2498
I feel a challenge to this is that the 3 ways used currently are all compatible with Python 2.7 and Python 3. f-strings were only added in Python 3.6.

[2021-08-28 21:11] intarpit commented on #2498
Do you know as what version of Python we are currently using on Dogecoin project?

[2021-08-28 21:18] intarpit commented on #2498
Do you know as what version of Python we are currently using on Dogecoin project?
I don't think that we are using Python 2.7. Most of codes I saw is from Python 3.

[2021-08-28 21:21] patricklodder commented on #2498
Python 3 by default.

Note though that python is not used inside any production binaries, so this only touches test frameworks and such. Ideally, this would be proposed upstream on bitcoin/bitcoin, because most of the framework code comes from there: less than 300 lines in `qa/rpc-tests/test_framework`, out of approx 5500, are maintained in through this repository right now. So we'll have to weigh

[2021-08-28 22:11] victorsk2019 opened #2499 "Compiling dogecoin-dev-1.14.5 on Gentoo Linux"
Hi everyone,

I am getting the following error when attempting to build Dogecoin Core dev-1.14.5 on Gentoo Linux:

`  CXX      qt/dogecoin_qt-bitcoin.o
In file included from qt/bitcoin.cpp:9:
qt/bitcoingui.h:14:10: fatal error: QLabel: No such file or directory
   14 | #include <QLabel>
      |          ^~~~~~~~
compilation terminated.
make[2]: *** [Makefile:8751: qt/dogecoin_qt-bitcoin.o] Error 1

[2021-08-29 15:01] patricklodder commented on #2475
Fixed w/ #2481

[2021-08-29 15:01] #2475 closed

[2021-08-29 18:59] slightlyskepticalpotat commented on #2498
Bitcoin Core has documented that their preferred format method is `f'{}'` [here](https://github.com/bitcoin/bitcoin/blob/master/test/functional/README.md), and it looks like they've started refactoring their tests just two weeks ago at https://github.com/bitcoin/bitcoin/commit/38975eccd498175ca91a837deefe8d820f16a53e. Perhaps we should put this on hold for a few months? By then, we can either incl

[2021-08-29 19:03] patricklodder commented on #2498
Awesome, thank you for finding this out (I have not had time to read up on recent bitcoin changes, so this helps a lot!)

I'll tag this for 1.21, so we can make a decision when that becomes actual.

[2021-08-30 03:03] victorsk2019 commented on #2499
Just a quick note that I was able to compile Dogecoin Core development version with qt5 gui, so the reported compiler issue is resolved.  What seems to have solved the problem (somehow) is installing 'plasma-meta' packages (I use xfce desktop environment) and afterwards dogecoin-qt was built with just this configure command:

`./configure --prefix=/home/doge/projects/dogecoin --enable-cxx --with-i

[2021-08-30 03:11] Chaudhrycool commented on #2499
🚀🚀🚀🚀

[2021-08-30 05:02] Mahandrafhwn commented on #2499
Unsubscribe please🙏

[2021-08-30 16:26] CaptainTheDoge opened #2504 "[feat] Update from Doge Core app"
# Feature Request

**Describe the Feature Request**
To be able to update Dogecoin Core from the app.

**Describe Preferred Solution**
The option to update from the app/toggle for auto update.

**Describe Alternatives**
A notification that a update is available for the app and a clear link of where to update.

**Additional Context**
QOL

[2021-08-30 16:38] patricklodder commented on #2504
See: https://github.com/dogecoin/dogecoin/issues/296

[2021-08-30 17:58] intarpit commented on #2498
Thanks for the research!

[2021-08-30 17:58] intarpit commented on #2498
Please let me know if you need any help from me. I would love to help.

[2021-08-31 05:36] JanHadari opened #2506 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-08-31 07:39] JanHadari opened #2507 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-08-31 16:53] Elasry04 opened #2508 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-08-31 22:57] #2508 closed

[2021-08-31 22:58] #2507 closed

[2021-08-31 22:58] #2506 closed

[2021-08-31 22:59] #2499 closed

[2021-08-31 23:07] ReverseControl commented on #2263
@FSys77 As @slightlyskepticalpotat confirmed what is going on here. I will close this issue.

[2021-08-31 23:07] #2263 closed

[2021-08-31 23:32] ReverseControl commented on #1355
See #2483,  update to Berkely Database 5.3 for Dogecoin Core 1.14.5. I am closing this issue on the grounds of being outdated, dated 2016.  Should there be a reason to address this again we can open it again.

[2021-08-31 23:32] #1355 closed

[2021-08-31 23:35] ReverseControl commented on #1370
The original issue was, in fact, resolved. @xslugx @ShapeShifter499 Feel free to open a new issue if your problems still persist.

[2021-08-31 23:35] #1370 closed

[2021-08-31 23:38] ReverseControl commented on #1382
This is not an issue. Question like this one are better placed in the https://github.com/dogecoin/dogecoin/discussions section.

[2021-08-31 23:38] #1382 closed

[2021-08-31 23:41] ReverseControl commented on #1924
This is a great topic to discuss and as such I recommend such ideas to be brought in the discussion section. For example, see https://github.com/dogecoin/dogecoin/discussions/2331.

[2021-08-31 23:41] #1924 closed

[2021-08-31 23:46] ReverseControl commented on #1942
@michaelni Your humor is very much welcomed in this space. However, topics which merit discussion should be brought up in the discussion section: https://github.com/dogecoin/dogecoin/discussions.

[2021-08-31 23:46] #1942 closed

[2021-08-31 23:47] #2010 closed

[2021-08-31 23:53] ReverseControl commented on #2316
@patricklodder What is the status of this?

[2021-09-01 00:03] ReverseControl commented on #2147
@PrestonHack For proposals, and topics which merit discussion, please use the discussion tab: https://github.com/dogecoin/dogecoin/discussions.

[2021-09-01 00:03] #2147 closed

[2021-09-01 02:23] ReverseControl commented on #2192
@Rick-laboratory Could you please elaborate on the issue?  As @chromatic pointed out, this code path does not get compiled, let alone executed, when the target triplet is for windows.

The ``/dev/urandom`` device has been there since at least April 16, 2005:

https://github.com/torvalds/linux/blame/a4a78bc8ead44c3cdb470c6e1f37afcabdddfc14/drivers/char/random.c#L111

As the documentation indicates:

[2021-09-01 09:54] sidan5 opened #2513 "“Dogecoin Core.app” can’t be opened because Apple cannot check it for malicious software (macOS)"
Attaching the screenshot of the error (This also shown as BitcoinMiner [PUP] by AVG antivirus).

Went to Settings -> Security & Privacy -> Open Anyway (there was a new button for approving).

I guess there should be a better way so the OS could validate the application file.

![Screen Shot 2021-09-01 at 12 46 13](https://user-images.githubusercontent.com/1595490/131651103-f0ee168e-77b5-478c-a525-e

[2021-09-01 12:21] ReverseControl commented on #2124
@arthurgervais You are encouraged to bring topics worthy of discussion, as is this, to the discussion section rather than the Issue section. I am closing this as off-topic. Feel free to open new discussions on the discussion section.

[2021-09-01 12:21] #2124 closed

[2021-09-01 12:28] ReverseControl commented on #1962
Thank you everyone for your concern and your support. I am now doing moderation and triage on the project issues. I will be addressing things as I have time. Please, if you see issues which need to be closed, tag me and comment on them with the reason it should be closed. I will get the notification and I will take a look at it. That would help me address the 100+ issues faster.

[2021-09-01 12:31] ReverseControl commented on #1876
@usefulcat1546 What is the status of this issue?

[2021-09-01 12:31] ReverseControl commented on #1891
Do you already have the file?

[2021-09-01 13:28] gewure commented on #1962
@ReverseControl may i ask how did you attain rights to moderate?
i am, as stated, active in this repo since well over 3 years - and i would really like to also moderate here!

[2021-09-01 15:27] CryptoTankGirl commented on #2124
Another item is 👏 🤩
Checked off and closed an issue! Congrats and thank you to all those that put the coding into everything Doge represents and the possibilities it can hold for the future generations in crypto! We are making history and should all be proud of the work we are collectively doing no matter the size of the task! We are all doge and doge is everything!

Peace Love and Light to you al

[2021-09-01 15:52] usefulcat1546 commented on #1876
I know that the two Wallets were in the same folder and that the rpctimeout command surely played a role in the conflict between the wallets

[2021-09-01 15:53] usefulcat1546 commented on #1876
The 30,000 Dogecoin reward is still available, I have over 320,000 doge blocked. Thank you

[2021-09-01 20:43] daniel81825 opened #2516 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-09-01 20:44] #2516 closed

[2021-09-01 20:46] #2504 closed

[2021-09-01 20:55] ReverseControl commented on #2138
As the original issue was resolved I am closing this issue. @aminbadshah, feel free to post your problem as a new Issue.

[2021-09-01 20:55] #2138 closed

[2021-09-01 20:58] ReverseControl commented on #2136
@illustriousdoge Your concern has been addressed. You can now start and join discussions: see https://github.com/dogecoin/dogecoin/discussions/2254.

[2021-09-01 20:58] #2136 closed

[2021-09-01 21:09] ReverseControl commented on #477
I am closing this issue as out-of-date. Should this issue become relevant again, it can be opened again.

[2021-09-01 21:09] #477 closed

[2021-09-01 21:13] ReverseControl commented on #594
@patricklodder  @rnicoll  Thoughts on this?

[2021-09-01 21:16] ReverseControl commented on #1242
@patricklodder @langerhans Any updates on this? Its been awhile.

[2021-09-01 21:18] ReverseControl commented on #1298
@patricklodder I am closing this issue as out-of-date. If this becomes relevant again, we can open it again. Incidentally, that image link is now broken Patrick.

[2021-09-01 21:18] #1298 closed

[2021-09-01 21:20] #1398 closed

[2021-09-01 21:25] aminbadshah commented on #2138
@ReverseControl thanks no worries i figured it out how to compile it I gave the details instructions on another post how to compile it.

[2021-09-01 21:27] ReverseControl commented on #1559
Given the original question was answered, i.e. the transaction did indeed happen and I could confirm it as well. I am closing this issue. If the why becomes relevant, this issue could be opened again.

[2021-09-01 21:27] #1559 closed

[2021-09-01 21:30] ReverseControl commented on #2138
@aminbadshah If you could post how you resolved your issue to help other shibes that come across this problem in the future, the community would be much thankful.

[2021-09-01 21:34] ReverseControl commented on #1603
@RealityRipple thank you for bringing this up. There is now a Discussion section where you can raise technical discussions such as this, that merit thought and time, to be discussed by the community.  I will close this issue as this belongs in the discussion section.

[2021-09-01 21:34] #1603 closed

[2021-09-01 21:37] AbcSxyZ commented on #2162
INSTALL.md is refreshed in https://github.com/dogecoin/dogecoin/pull/2466.
It's also updating the README to make the repo more accessible

[2021-09-01 21:37] #2162 closed

[2021-09-01 21:39] AbcSxyZ commented on #2316
Closing in favor of https://github.com/dogecoin/dogecoin/pull/2339

[2021-09-01 21:39] #2316 closed

[2021-09-01 21:50] ReverseControl commented on #1604
@Joter271 this issue was addressed in 1.14.4. Transaction relay fee along with several other values were fixed to 1 DOGE / Kb, where transaction size was rounded up. All one-to-one transactions take less than 1KB, so previously they all got rounded up to 1KB, so their cost became 1 DOGE. And because of this, and some technical issues (bugs) which we have now resolved (See https://github.com/dogeco

[2021-09-01 21:50] #1604 closed

[2021-09-01 22:13] #1633 closed

[2021-09-01 22:19] ReverseControl commented on #1692
@crozone Could you test with 1.14.4?

[2021-09-01 22:21] #1724 closed

[2021-09-01 22:23] #1736 closed

[2021-09-01 22:24] ReverseControl commented on #1748
@esantonja Thank you for taking care of this.

[2021-09-01 22:24] #1748 closed

[2021-09-01 22:26] #1787 closed

[2021-09-01 22:37] ReverseControl commented on #1799
@patricklodder @rnicoll Do we do any testing on M1 machines? My understanding is that they are ARM64 processors of some flavor.

[2021-09-01 22:40] ReverseControl commented on #1832
@rnicoll Closing as it has been resolved.

[2021-09-01 22:40] #1832 closed

[2021-09-01 22:41] ReverseControl commented on #1837
Closing issue as it has been resolved.

[2021-09-01 22:41] #1837 closed

[2021-09-01 22:45] ReverseControl commented on #1850
I am closing this for inactivity. If it becomes relevant again, this issue can be opened.

[2021-09-02 01:58] ReverseControl commented on #1902
@slightlyskepticalpotat As this issue has been addressed (See #1908) I will close it. If it becomes relevant again, it can be re-opened.

[2021-09-02 01:58] #1902 closed

[2021-09-02 02:02] ReverseControl commented on #2340
As this has been addressed by #2342, this issue is closed.

[2021-09-02 08:47] dgs2019 commented on #2324
Dgs2019

[2021-09-02 09:06] aminbadshah commented on #2138
Sure no worries here are the steps i took:

did try this... from https://github.com/dogecoin/dogecoin/blob/1.14.4-dev/doc/build-windows.md
yes this has some good info and i got it to compile... yay...

There are a couple of mistakes on the doc: if you are using Ubuntu18.04 it doesn't support libqrencode4
sudo apt-get install libssl-dev libboost-all-dev qt5-default libprotobuf-dev libqrencode4 libd

[2021-09-02 10:15] Danny-dK commented on #2513
Possible indication for solution in #1870 at https://github.com/dogecoin/dogecoin/issues/1870#issuecomment-848829083
Also same topic at #1864 #1687
@ReverseControl (for issue moderation as indicated in https://github.com/dogecoin/dogecoin/issues/1962#issuecomment-910286156)

[2021-09-02 16:15] satya-p91 commented on #1649
Hello, I am having the same issue. I cloned the 1.21-dev branch and built the dogecoin core, after running the command `dogecoind -daemon` sycning is not starting. FYI I ran 1.14.4 and its working fine, completely synced but in version 1.21-dev sycing is not even starting.

here's the log from debug.log file

`
2021-09-02T15:15:45Z init message: Starting network threads...
2021-09-02T15:15:45Z net

[2021-09-02 19:09] victorsk2019 commented on #2513
Hi.  I've also got a Mac and I saw this message.
Seems like it could be resolved as mentioned here:
https://developer.apple.com/documentation/security/notarizing_macos_software_before_distribution

I could take a look at it but I'm running Dogecoin Core 1.14.4 production wallet on my Mac so I'm a bit hesitant to tinker with it (hence I'm running Gentoo on VirtualBox for development #2499 ;)).

[2021-09-02 19:45] ReverseControl commented on #1870
@patricklodder @sunnirise Already addressed this issue above.

[2021-09-02 19:45] #1870 closed

[2021-09-02 19:57] michilumin commented on #1962
Hey guys. Am aware of this issue, and, absolutely taking note of folks who say they're willing to moderate in here.  I'd want to discuss with some of the people who are willing; we definitely would need assistance as far as bandwidth goes on this.

Likely this will involve giving more people the Triage role, but just want to make sure we have a constant and open chain of contact with those folks a

[2021-09-02 20:04] michilumin commented on #2513
We have to follow Apple's dev procedures to get this actually certified. Similar process for getting signing on Windows.  It can't really be done in an 'open source' way, an individual or entity has to hold the cert. So, we're looking into that, for now there *is* a workaround; I believe if you Ctrl-RightClick and open the dogecoin-qt app it should open without any trouble.

Fully aware that we ne

[2021-09-02 20:13] ReverseControl commented on #2513
@Danny-dK Thank you. The broader situation on this issue is as @michilumin described. For the time being, we will group issues similar to this one under the ``false positive`` flag. When a solution to the broader issue is implemented, we will review each issue and close them as appropriate.

[2021-09-02 20:17] ReverseControl commented on #2104
See  #2491.

[2021-09-02 20:22] ReverseControl commented on #594
I think this should be a configurable behavior. Something that can be enabled by the users. I can see both behaviors having legitimate use, namely, make life easier for end users. The default being the current behavior.

[2021-09-02 20:22] #1513 closed

[2021-09-02 20:27] ReverseControl commented on #1613
I am closing this as outdated. If this issue persists in the latest version of doge, which seems highly unlikely, we can reopen this one.

@yu-qingyun For future reference, enough information about this issue needs to be provided so we may diagnose it and fix it.

[2021-09-02 20:27] #1613 closed

[2021-09-02 20:30] chromatic commented on #594
That's doable, but it means some configuration mechanism (command-line argument, configuration file entry, user interface element) somewhere.

Maybe this is good to move to Operation Such Frensly?

[2021-09-02 21:01] ReverseControl commented on #594
@chromatic Yes. Could you please do that?

[2021-09-02 21:03] ReverseControl commented on #2494
@ftechizPrashant  Specifically, which commands would you like to see implemented?

[2021-09-02 21:15] ReverseControl commented on #1760
@patricklodder Where was the work for this done. I don't see any commits or PRs associated with this issue?

[2021-09-02 21:34] ReverseControl commented on #1876
@usefulcat1546 Which dogecoin core version did you create and encrypt the wallets with?

[2021-09-02 21:36] ReverseControl commented on #1861
@quark2019 Could you please test again and report your results?

[2021-09-02 21:38] ReverseControl commented on #1863
@jesuasir007 Were you able to resolve this? It seems like @dridri's observation is correct from looking at the error.

[2021-09-02 21:47] ReverseControl commented on #1849
I am closing this issue. We now have a discussion space (https://github.com/dogecoin/dogecoin/discussions). I encourage folks who would like to engage on this topic, which is important, to create a discussion to hash out ideas. The Issues section is for tehnical issues we can take action on and not architecture decisions about the blockchain.

[2021-09-02 21:47] #1849 closed

[2021-09-02 21:48] ReverseControl commented on #1912
Issue addressed. See #2497.

[2021-09-02 21:48] #1912 closed

[2021-09-02 21:49] ReverseControl commented on #1888
@nlanson Could you work on that?

[2021-09-02 21:53] ReverseControl commented on #1851
I think this question has been asked before. As the question has been answered, and help provided on the follow up, I am closing this one.

[2021-09-02 21:53] #1851 closed

[2021-09-02 21:56] usefulcat1546 commented on #1876
With the version 1.10, The latest version available in February 2019.

[2021-09-02 21:58] ReverseControl commented on #1814
@patricklodder @rnicoll Where are we on this?

[2021-09-02 22:00] ReverseControl commented on #1812
@patricklodder What is the status on this?

[2021-09-02 22:05] ReverseControl commented on #1809
This has turned into a discussion. I am closing this issue. I encourage the discussion of this topic over in the discussion section: https://github.com/dogecoin/dogecoin/discussions.

[2021-09-02 22:05] #1809 closed

[2021-09-02 22:11] ReverseControl commented on #1755
@patricklodder What card on the 1.21 Project Board corresponds to this?

[2021-09-02 22:12] ReverseControl commented on #1778
@poll456 @jakusb Were you able to solve this issue?

[2021-09-02 22:14] shahroozam commented on #1876
D6ftB9SDo9w1i4mT6Hb8Km3xaNj4vsjjCN

[2021-09-02 22:31] ReverseControl commented on #1756
@PaekNikler Were you able to recover your coins?

[2021-09-02 22:33] ReverseControl commented on #1742
@patricklodder @rnicoll Could you take a look at this?

[2021-09-02 22:40] michilumin commented on #2104
Reopening this because #2104 is actually not a duplicate of #2491;  #2491 is a subset of the broader intrinsics effort.

[2021-09-03 02:30] crozone commented on #1692
`./configure` gave me the standard "configure: error: Found Berkeley DB other than 5.1, required for portable wallets (--with-incompatible-bdb to ignore or --disable-wallet to disable wallet functionality)".

Debian is currently on `libdb-dev (5.3.1+nmu1)`. Since 5.3 is the same major version as 5.1 and the on-disk format appears to be the same, I opted for `./configure --with-incompatible-bdb`.

[2021-09-03 04:13] crozone commented on #1692
I've started testing on my node proper with `dogecoind` built with `./configure --disable-wallet --without-miniupnpc`

[code]

  So far everything looks good.

[2021-09-03 04:20] ReverseControl commented on #1692
@crozone Great! Note that #1655 and #1626 were both merged, and #1655 fixed #1654. When you are done testing let me know and we can close this one. Much thank you.

[2021-09-03 04:32] ReverseControl commented on #1792
@IsaaacD Were you able to resolve this issue?

[2021-09-03 04:35] #1563 closed

[2021-09-03 04:39] ReverseControl commented on #1722
Closing this issue as it has been addressed.

[2021-09-03 04:39] #1722 closed

[2021-09-03 05:15] ReverseControl commented on #2017
Given the help provided here on how to get started and the discussion board opened by @rnicoll to help guide new folks wanting to help the project, I am closing this one.

[2021-09-03 05:15] #2017 closed

[2021-09-03 05:30] ReverseControl commented on #2042
To play the devil's advocate here I'd posit most users want to use the wallet and not be a Full Dogecoin Core. Users who want to have a Full Dogecoin Core Node should know enough to asses what kind of risk opening ports and forwarding data from their routers there are, and clicking on two boxes in the options settings ensure folks wont open themselves to those risk accidentally.

I dont think for

[2021-09-03 05:33] ReverseControl commented on #2194
Any further engagement in this conversation should be in the discussion section: https://github.com/dogecoin/dogecoin/discussions. Should there be community interest a discussion could be started on this issue to continue hashing out ideas.

[2021-09-03 05:33] #2194 closed

[2021-09-03 05:35] ReverseControl commented on #1862
Issue fixed by #2333.

[2021-09-03 05:35] #1862 closed

[2021-09-03 08:04] jakusb commented on #1778
I did, I believe it was something to do with permissions.

[2021-09-03 08:29] #1778 closed

[2021-09-03 11:36] ReverseControl commented on #2384
I am closing this issue as it is non-technical in nature and beyond the scope of the Issue section. Feel free to open up a discussion on this topic.

[2021-09-03 11:36] #2384 closed

[2021-09-03 11:40] ReverseControl commented on #1845
@SkivvyNivvy @etherx-dev Were you able to solve your issue?

[2021-09-03 11:44] #1652 closed

[2021-09-03 11:45] ReverseControl commented on #1715
@Brianmaha Were you able to resolve this issue?
@patricklodder Did you ever write that recovery guide?

[2021-09-03 11:50] ReverseControl commented on #1242
https://dogecoin.com/ now addresses this issue.

[2021-09-03 11:50] #1242 closed

[2021-09-03 11:52] ReverseControl commented on #1803
@kycfeel Were you able to resolve your issue?

[2021-09-03 11:56] ReverseControl commented on #2310
The consensus by the Core Development Team is any feature request to automatically update Dogecoin Core will be rejected for the foreseeable future. @patricklodder has commented above explaining why. @rnicoll has also explained why on twitter recently where this has come up.

[2021-09-03 11:56] #2310 closed

[2021-09-03 12:02] ReverseControl commented on #2007
I am closing this issue as it belongs in the discussion (https://github.com/dogecoin/dogecoin/discussions) section. @wyc Should you wish to continue discussing your proposal, which is important, the discussion section is the proper place to have this conversation.

[2021-09-03 12:02] #2007 closed

[2021-09-03 12:03] #1682 closed

[2021-09-03 12:04] ReverseControl commented on #1725
@agius Could you confirm if you have the same issue with the latest version (1.14.4)?

[2021-09-03 12:05] #1723 closed

[2021-09-03 12:07] ReverseControl commented on #2425
@patricklodder What is the status on this?

[2021-09-03 12:12] ReverseControl commented on #2216
@Drael64 @AbcSxyZ @aiontrust @Im-Mr-Chris @LarryLeonidas This is a topic that merits discussion, thought and time. Please move it to the discussion section (https://github.com/dogecoin/dogecoin/discussions) so you may hash out your ideas there. The Issue section is for more actionable items.

[2021-09-03 12:12] #2216 closed

[2021-09-03 12:19] ReverseControl commented on #1719
As @patricklodder stated, maximum number of outgoing connections is also part of ``maxconnections`` which means your expectation in this issue is not accurate, i.e. the behavior you are actually getting is the expected behavior. Based on your two previous comments you now understand what is happening. I am closing this issue.

[2021-09-03 12:19] #1719 closed

[2021-09-03 12:20] #1737 closed

[2021-09-03 12:25] ReverseControl commented on #1673
We now have a discussion section (https://github.com/dogecoin/dogecoin/discussions) for topics that merit thought and time, such as this. Should there be any interest in continuing this conversation please open a discussion for it.

[2021-09-03 12:25] #1673 closed

[2021-09-03 12:31] ReverseControl commented on #1991
This is a fun proposal and one that merits discussion.  I will close this Issue and encourage folks to open a discussion (https://github.com/dogecoin/dogecoin/discussions)  to continue to hash out the details of this proposal should there be interest in continuing this conversation.

[2021-09-03 12:31] #1991 closed

[2021-09-03 20:03] ReverseControl commented on #1708
@ang-st Did you ever resolve this?

[2021-09-03 20:29] Chewbakka-Wakka commented on #1891
I have no SVG icon for this no. No idea how I'd make an appropriate SVG for the Doge haha

[2021-09-03 20:59] ReverseControl commented on #1729
@shuriyong If this is still an issue let us know. Your wallet should be well synced by now.

[2021-09-03 20:59] #1729 closed

[2021-09-03 21:02] ReverseControl commented on #1697
@lwllace Thank you very much for bringing this up. I will take this one. I will be creating PR for fixes starting on the 1.21-dev branch.

[2021-09-03 21:24] ReverseControl opened #2523 "[bug] Debug window Network Traffic Tab and Peers Tab bugs."
# Bug Report

**Current behavior:**

First: when the sliding bar at the bottom is moved, all the graphed data disappears. We should save this data in memory and replot it as the user slides the bar.
![net](https://user-images.githubusercontent.com/6852543/132065786-38beb8c1-40b8-4ce8-9a86-6fc47682d2a8.png)

Second: The Bytes sent column appears to never go up above 1GB although my node has uploade

[2021-09-04 06:49] doge2021 commented on #1845
reach btc2doge to resolve this problem if you have not fixed it.

[2021-09-04 07:55] rnicoll commented on #2494
There isn't with 1.14, no. The command is in 1.21, although there's a backlog of changes for 1.21 to be merged into the main repo.

[2021-09-04 12:41] ReverseControl commented on #2523
**Update**

It appears what is happening is that it only shows GB when it changes one GB unit at a time. This is too coarse, I think we should make it to update every MB or so for the GB unit, and show a couple of decimal places, or leave it in MB even when we get to the GB range.
![Screenshot from 2021-09-04 08-36-52](https://user-images.githubusercontent.com/6852543/132094702-7e9a06ca-6920-41d9-

[2021-09-04 17:12] patricklodder commented on #1799
I personally do not own an M1 Mac, but I'm sure there's shibes that do and could test this.

[2021-09-04 17:19] ReverseControl commented on #1799
We should add a build for M1 specifically and do some testing. Should we add this to 1.21-dev?

[2021-09-04 17:23] ReverseControl commented on #1891
Thanks @Chewbakka-Wakka . I don't know that we need an SVG icon, but certainly we do need to update logo names in the documentation for doxygen, the file names themselves and any reference in code to those image files should be updated as well. Can anyone take this up and submit a PR?

This should be fairly easy if you are new and want to contribute this is a good simple task.

Thanks.

[2021-09-04 18:49] chromatic opened #2526 "[feat] Update and Validate Slovak Translation Strings"
# Feature Request

**Describe the Feature Request**

The Slovak translations in `src/qt/locale/bitcoin_sk.ts` contain references to "Bitcoin" that have been updated to "Dogecoin" in the source strings in the code.

**Describe Preferred Solution**

Replace "Bitcoin" with "Dogecoin" as appropriate in the translations and validate the accuracy of other translations in this file.

[2021-09-04 18:49] chromatic opened #2527 "[feat] Update and Validate Nepali Translation Strings"
# Feature Request

**Describe the Feature Request**

The Nepali translations in `src/qt/locale/bitcoin_ne.ts` contain references to "Bitcoin" that have been updated to "Dogecoin" in the source strings in the code.

**Describe Preferred Solution**

Replace "Bitcoin" with "Dogecoin" as appropriate in the translations and validate the accuracy of other translations in this file.

[2021-09-04 18:49] chromatic opened #2528 "[feat] Update and Validate Malay Translation Strings"
# Feature Request

**Describe the Feature Request**

The Malay translations in `src/qt/locale/bitcoin_ms_MY.ts` contain references to "Bitcoin" that have been updated to "Dogecoin" in the source strings in the code.

**Describe Preferred Solution**

Replace "Bitcoin" with "Dogecoin" as appropriate in the translations and validate the accuracy of other translations in this file.

[2021-09-04 18:49] chromatic opened #2529 "[feat] Update and Validate Korean Translation Strings"
# Feature Request

**Describe the Feature Request**

The Korean translations in `src/qt/locale/bitcoin_ko_KR.ts` contain references to "Bitcoin" that have been updated to "Dogecoin" in the source strings in the code.

**Describe Preferred Solution**

Replace "Bitcoin" with "Dogecoin" as appropriate in the translations and validate the accuracy of other translations in this file.

[2021-09-04 18:49] chromatic opened #2530 "[feat] Update and Validate Persian Translation Strings"
# Feature Request

**Describe the Feature Request**

The Persian translations in `src/qt/locale/bitcoin_fa.ts` contain references to "Bitcoin" that have been updated to "Dogecoin" in the source strings in the code.

**Describe Preferred Solution**

Replace "Bitcoin" with "Dogecoin" as appropriate in the translations and validate the accuracy of other translations in this file.

[2021-09-04 19:19] chromatic commented on #594
@ReverseControl I don't have access to add labels or move issues, but I can take a look at the code.

[2021-09-04 19:51] chromatic commented on #594
On further thinking, I think the reporter is correct. The default text in the `label` textbox of the Send Coins Dialog reads "Enter a label for this address to add it to your address book". The tooltip reinforces this, as it reads "Enter a label for this address to add it to the list of used addresses".

I think the natural reading is "If you enter a label for this address, sending coins will add

[2021-09-04 20:02] chromatic opened #2531 "[feat] Update leveldb source"
# Feature Request

**Describe the Feature Request**

The [leveldb](https://github.com/google/leveldb) source code included at `src/leveldb/` is out of date with regard to upstream. When compiled, it produces a warning:

[code]

**Describe Preferred Solution**

Investigate whether it is possible to update the included version of `leveldb` and, if so, which version to update to. Note that the code w

[2021-09-05 13:35] AbcSxyZ commented on #2471
It sounds good, it's definitively more explicit than what the repo currently have :)

Idk if we can reach more people and discuss longer, we can perhaps do a PR to suggest the change. If anyone wants to do it.

I would agree to use it like that, but just some details who come to my mind, I would like to get your opinion.

### Make users word explicit or implicit ?

Do you really want to specify th

[2021-09-05 14:00] ReverseControl commented on #2366
@Rasika9596 was your issue resolved?

[2021-09-05 15:40] Filardi08 opened #2549 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-09-05 22:31] PaekNikler commented on #1756
No, unfortunately I was unable to sync them. I'm guessing the wallet was from another coin and the file inadvertently placed in the Dogecoin folder.

[2021-09-05 22:31] #1756 closed

[2021-09-06 01:13] ReverseControl commented on #1756
@PaekNikler Given the amount of coins in the wallet I'd suggest to ascertain if in fact you have a dogecoin wallet, and furthermore, if you do, recover the coins. I can do this work for you. You can reach me at ``dogecoinboost@pm.me`` to discuss further.

[2021-09-06 07:39] daniel81825 opened #2550 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-09-06 08:22] kycfeel commented on #1803
@ReverseControl Hi. Unfortunately not. But I found a workaround actually.

I'm running the `arm64v8` version of Dogecoin on my `s390x` machine with the [qemu-user-static](https://github.com/multiarch/qemu-user-static), and somehow it's doing the job perfectly.

[2021-09-06 13:09] crozone commented on #1692
I can report that the node is working well. Looks like we're good to close!

[2021-09-06 13:27] #1692 closed

[2021-09-06 13:56] #2550 closed

[2021-09-06 13:58] #2549 closed

[2021-09-06 16:26] ReverseControl commented on #2201
@sirapm Do you still have this issue?

[2021-09-06 16:27] ReverseControl commented on #2344
@xanimo What is the status on this?

[2021-09-06 16:28] ReverseControl commented on #2300
Who would like to take up this task?

[2021-09-06 17:11] ReverseControl commented on #1876
@usefulcat1546 As this is not an issue that pertains to the Dogecoin Core Development I am closing this issue. However, you can ask the community over at discussions (https://github.com/dogecoin/dogecoin/discussions).

[2021-09-06 17:11] #1876 closed

[2021-09-06 17:19] usefulcat1546 commented on #1876
This error is not my control and there is a real problem in the source code, this is not supposed to happen. developers should look into the problem so that it does not happen again.

[2021-09-06 17:41] patricklodder commented on #2471
Minor flow changes and conciseness...

Resulting in:

I removed Litecoin as a source because nowadays we have adapted more code from Namecoin than Litecoin, so I settled for "and other cryptocurrencies"

[2021-09-06 17:44] ReverseControl commented on #1876
@usefulcat1546 Per your report, it seems your wallet is indeed corrupted. Not something we the developers would address. To properly help you recover your coins a developer would need access to your wallet, or a lot of patience for back and forth discussion; as has happened here already. I suggested the discussions section as that is more suitable for your situation. I do hope you are able to reco

[2021-09-06 19:11] xanimo commented on #2344
things have been rather hectic on my side, if you want to merc it go for it! ❤️

[2021-09-06 19:37] ReverseControl commented on #2344
No.

If you are not going to work on it, please confirm.

[2021-09-06 20:25] xanimo commented on #2344
i am

On Mon, Sep 6, 2021 at 12:37 PM Escanor Liones ***@***.***>
wrote:

[2021-09-06 20:35] patricklodder commented on #2344
This does not need to be assigned to a single person, as it's pure research, so anyone can contribute.

[2021-09-06 23:23] sirapm opened #2554 "[feat] Create a new stand alone binary of the "Debug window""
Greetings
In Dogecon-qt the Debug windows is really nice and easy to use to see how dogecoin-qt "service" is doing. However, when running dogecond as a service, dogecoin-cli does provide the abillity to pull out json data about how the service is doing.
Basically, I'm running a very slim Unix on a powerful server using dogecoind. I would like to have a gui version of Windows dogecoin-debug to conn

[2021-09-08 04:38] ftechizPrashant commented on #2494
Yes, I created a build from the branch 1.21-dev and deployed on the server but the node is not sycning

log from debug.log file is given below:

2021-09-02T16:57:13Z Dogecoin Core version v0.21.0.0-b1a924969 (release build)
2021-09-02T16:57:13Z Assuming ancestors of block 014c0753de886b81dffa11e99f37416930b67d55bda17589d886aeb053414942 have valid signatures.
2021-09-02T16:57:13Z Setting nMinimumCh

[2021-09-08 04:48] satya-p91 opened #2557 "[bug] Dogecoin 1.21-dev not syncing"
# Bug Report
Dogecoin version [1.21-dev](https://github.com/dogecoin/dogecoin/tree/1.21-dev) is not syncing.

**Current behavior:**

dogecoin node is not syncing and in debug.log file below given line showing repeatedly
`2021-09-03T02:56:29Z Potential stale tip detected, will try using extra outbound peer (last tip update: 35911 seconds ago)`
from last 5 days

**Expected behavior**

Dogecoin node

[2021-09-08 11:17] patricklodder commented on #2557
This is correct. There currently is no AuxPoW support built-in yet, so 1.21-dev is not ready to try in the wild yet.

[2021-09-08 11:17] #2557 closed

[2021-09-08 11:22] patricklodder commented on #2494
this is because it's not ready yet. The protocol completeness in the 1.21-dev branch is currently about the same as what Dogecoin 1.6 was, because it has no AuxPoW. It's also not been tested other than code reviews. A good point to start playing with 1.21 would be when a release candidate (RC) is tagged.

[2021-09-08 11:37] patricklodder commented on #2554
Unfortunately (or fortunately, depending on perspective 😁) the debug window currently hooks straight into the internal state that the rpc also uses, rather than using the rpc to fetch the data, so that would need to be re-coded. Also, as this would require RPC access and the RPC doesn't have real secure authentication mechanisms (it's really intended to be bound to local interfaces only) there wou

[2021-09-08 11:52] patricklodder commented on #2201
I think the point about having better documentation of the configuration file / command-line arguments is a very valid one. Since we generate manages with help2man, maybe we can `groff` this into html?

[2021-09-10 03:55] fare opened #2558 "[feat] Account View On UTXO Model"
Much scalable, very contract, so Account, wow, such UTXO!

Dogecoin could become the top smart contract platform in the world: it can adopt the features that BTC is too conservative to accept, while sporting a name recognition that BCH lost by losing!

1. First, DOGE needs the ability to write smart contracts at all, or "covenants" as the Bitcoin Cash people call them: all BCH had to do was re-ena

[2021-09-10 04:23] Bluberrybom opened #2559 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-09-10 04:24] #2559 closed

[2021-09-10 13:25] slightlyskepticalpotat commented on #1891
As far as I can tell, all dogecoin icon files were already updated in https://github.com/dogecoin/dogecoin/commit/c42dba492ba9c12a79a3dcf8526e17b4215c452e.

The doxygen uses a [Bitcoin logo](https://github.com/dogecoin/dogecoin/blob/master/doc/bitcoin_logo_doxygen.png), I can replace it with the proper icon and change the references to it in the code. Can I please be assigned to this issue?

[2021-09-10 13:26] Olasunkanmi4270 commented on #1891
I did not have file

[2021-09-11 13:30] a10554 opened #2563 "[feat]"
# Feature Request

**Describe the Feature Request**
- Avoid having to configure routers to use UPnP or add port forwarding, and in this way facilitate DOGE core number of nodes growth.

**Describe Preferred Solution**
- Create a Network option named "connect through DOGE vpn"
- Create a VPN server to receive DOGE core connections worldwide

**Describe Alternatives**
- Enable DOGE core to become pr

[2021-09-12 17:00] Star6654 commented on #2460
Yes

[2021-09-12 18:21] chromatic commented on #2300
Where are `getauxblock` and `submitauxblock` implemented? I didn't find them in either 1.14.5-dev or 1.21-dev branches. Did I miss them?

[2021-09-14 16:20] bingoko opened #2569 "[feat] Rewards for running a full node"
Could we add a new feature to allow the hoster of the full node can receive a small amount reward to incentivise more and more hoster to join?

[2021-09-14 16:40] AbcSxyZ commented on #2471
I suggested a PR implementing this improvement, see https://github.com/dogecoin/dogecoin/pull/2570.

[2021-09-14 18:51] AbcSxyZ commented on #2271
## 14/09 Initiative Update

The beginning of this initiative focused on improving the software accessibility from installation to utilization, and give information about used tools by the community to build Dogecoin Core to inform about current development and to let people reach each other.

Refresh the main `README.md` to redirect users inside the software documentation & the open source ecosyst

[2021-09-14 19:10] victorsk2019 opened #2571 "[adoption] Doge package integration for Gentoo"
Hello fellow shibes,

Thought I'd give a quick report on the PRs I've been working on for net-p2p/dogecoin Gentoo package integration here: [net-p2p/dogecoin](https://github.com/gentoo/gentoo/pull/22229)  This is a logical continuation of compiling issue in #2499 I reported earlier and is meant to provide an elegant and granular way of installing Dogecoin Core on Gentoo systems for developers and

[2021-09-14 19:21] polska333 commented on #2571
How come I downloaded the new dogecoin call wallet and now all my doge is
gone and no one knows what to do how to help me it happened when I switched
to the new Dogecore wallet I had

On Tue, Sep 14, 2021, 3:12 PM victorsk2019 ***@***.***> wrote:

[2021-09-14 19:56] AbcSxyZ commented on #2571
Reviewed, tried to help about description. Good think to facilitate use of Dogecoin Core :)

@polska333 If you see this message, you're unclear and not really in the appropriate place to get some support. If you need help, open a new issue explaining your problem or reach someone on [discord](https://discord.gg/dogecoin) (*there is a #wallet-help channel*). More probability to get help doing this

[2021-09-14 20:45] polska333 commented on #2571
I don't know I call myself new to this business about April when I got in
and I had 43,000 dose coin and I'm scared I don't know what to do I can't
get help I'm disabled I eat through a feeding tube and not too long ago I
passed away they brought me back to life and I don't know things have been
tough I know I downloaded the doors going well they said you needed to and
after that that's when it ha

[2021-09-14 20:59] AbcSxyZ commented on #2571
@polska333  Can you go on [Discord](https://discord.gg/dogecoin) ? There is the channel #wallet-help to help people with this kind of issues. You should be able to chat in real time with someone from the community to explain your situation. Hope they will solve your issue.

[2021-09-15 13:13] patricklodder commented on #2300
As the new rpc calls are currently not implemented in 1.14, I came to the following requirements for depreciation on #2565:

Until this is done, I will have to NAK any depreciation notice, because it is simply not possible to depreciate the only working method to mine AuxPoW blocks.

Alternatively, we can improve the implementation of the current interface. Miner feedback would be appreciated.

[2021-09-15 13:52] hzkxf4 commented on #2569
I would like to see this as well.

[2021-09-15 14:00] hzkxf4 opened #2573 "[feat] Windows: Make default behavior of close button 'x' minimize to tray or warn before closing."
Dogecoin Core version v1.14.4

# Feature Request

**Feature Request**
Minor annoyance.  I've accidently closed out Dogecoin Core Wallet more than once by clicking the X window button intending to stop viewing the wallet and return it to the tray.

**Preferred Solution**
Change the default behavior of X button to return to tray or confirm action before exiting with message "Are you sure you want to

[2021-09-15 16:23] patricklodder commented on #2569
How would you like to fund these rewards?

[2021-09-15 17:10] hzkxf4 commented on #2569
Thank you for responding. I apologize in advance if my limited understanding of things crypto makes my suggestion idiotic.  Is there much 'dust' in doge transactions?  Could a common dust bin address be created to collect all dust and distribute it to active nodes whenever the accumulated dust reaches a threshold where the bin is full and an even distribution can be made?  I have no idea if this i

[2021-09-15 17:14] patricklodder commented on #2569
That's an interesting idea that I haven't heard before. I'm converting this to discussions, because there are a lot of additional things we'd need to explore (mainly: how to prove that the node was up and how to prevent cheating)

This issue will be closed and reopened in discussions.

[2021-09-15 17:14] #2569 closed

[2021-09-15 19:09] #2471 closed

[2021-09-18 22:02] ReverseControl commented on #2573
@hzkxf4 That is the standard behavior for every windows application in existence.

[2021-09-18 22:07] bingoko opened #2576 "[feat] Make changes on Bitcoin code to replace existing legacy Dogecoin code"
Dogecoin's dev progress has been paused for few years while Bitcoin is keeping moving.
We all know the differences between Dogecoin and Bitcoin are the amount of total coin, and the inflation model vs deflation mode.

Isn't it easier for Dogecoin to just rebuild the whole code system based on the latest Bitcoin and then modify the base differences to make the latest Bitcoin *Doge* again?

[2021-09-18 22:10] ReverseControl commented on #2576
@bingoko That is what we currently do. The ``rebuild`` part takes awhile with no permanent staff like bitcoin has. Also, the system has to work for everyone who has ever used doge as if nothing had changed.

[2021-09-18 22:14] bingoko commented on #2576
I mean, right now what I saw is Doge developers are upgrading the changes bit by bit (point by point).
Is it possible to make the whole system replaced, then change the parameters?
It should be easier.

[2021-09-18 22:44] rnicoll commented on #2576
That would be 1.21. You can grab my latest experiments at https://github.com/rnicoll/dogecoin/tree/1.21-post-auxpow-branding-fees-rewrite

[2021-09-19 23:31] #2563 closed

[2021-09-22 18:03] AbcSxyZ opened #2582 "Docs4Doge : Document dogecoin integration with third party into applications or website"
![Capture d’écran de 2021-09-22 19-39-56](https://user-images.githubusercontent.com/34010605/134394588-3fada82d-8b7e-4bef-979b-49a7b55bfb34.png)

To facilitate Dogecoin integration, it would be great to give documentation about ways to enable Dogecoin payment for an application.

There are multiple ways to achieve this. By managing the node yourself for sure, but you can rely on different services

[2021-09-23 01:55] patricklodder commented on #2582
No. That has nothing to do with Dogecoin Core. You could work on something like that for, say, https://github.com/dogecoin/dogecoin.com though.

[2021-09-23 06:11] malingzhao opened #2583 "Mining a transaction"
I has a rawtransaction, because of the low fee, The transaction can not be confirmed, And It is a offline transaction, And it has 1 month, what can I do to confirmed this transaction. For bitcoin, there are many miner pool, But in DogeCoin I can not found any mine pool, can you give me some suggestions

[2021-09-23 11:55] AbcSxyZ commented on #2582
Its services built on top of it to facilitate is usage, I see it as definitively related to Dogecoin core. It's how people will be able to integrate dogecoin to their website, through their own node, or through a service built on top of Dogecoin Core.

I guess a lot of devs don't/won't host their own node to integrate Dogecoin, but (will) rely on a third party. Using this kind of tools would be th

[2021-09-23 12:09] AbcSxyZ commented on #2582
Like it, they can be aware of this solution. Devs may use service providers for an easy way to use the crypto, while more important project, with more resources will see also this solution instead of just viewing an API from any exchange or payment application.

Trying to have people coming here first, watching different solution from node to services, and then do the choice. Instead of directly u

[2021-09-23 14:57] patricklodder commented on #2582
Note that I'm not against your goal, on the contrary: I like it. I just do not think that this is the right place to host it.

Not all services are built on top of Dogecoin Core. Over the years, I personally have built Dogecoin services using p2p libraries like [bitcore](https://github.com/bitpay/bitcore), [btcd](https://github.com/btcsuite/btcd) and [toshi](https://github.com/martindale/toshi) th

[2021-09-23 17:16] AbcSxyZ commented on #2582
I think the difficulty is that the Dogecoin ecosystem is a vast variety of projects, and there is a difficulty to define the right limits for the type of project we could link to for developers of and around Dogecoin Core.

You brought this discussion https://github.com/dogecoin/dogecoin/discussions/2430 about "community repositories", you were speaking about listing SDKs for the RPC API. I share

[2021-09-23 17:34] patricklodder commented on #2582
Just do it under your own control: you make the decision, my opinion doesn't matter. Nothing prevents you from making a dogecoin-docs repository and do the work. Instead, the fact that you're here doing a proposal for something that doesn't necessarily need to be proposed here and we're having a discussion about it, already indicates that there's friction. There doesn't have to be any.

Many centr

[2021-09-23 18:23] AbcSxyZ commented on #2582
For so many decisions, there are "frictions", this repo is having some necessary. Even technically speaking, in [1.21 consensus plan](https://github.com/dogecoin/dogecoin/discussions/2264) about Segwit there is debate, also to switch to proof of whatever.
Things can be discussed, it's what I wanted to do :)

It's possible to do a dogecoin-docs repo, but I guess it make sense to have the documentat

[2021-09-23 19:26] patricklodder commented on #2582
So you're saying that me summarizing and taking public a private discussion between maintainers of this repository on a feature that has historically been implemented through this software (consensus rules) with the goal to make the discussion broader and get feedback, is comparable to C&P-ing a tweet from a C-level exec of an entertainment conglomerate that claims to not have done any research be

[2021-09-24 03:22] didlie opened #2585 "A miner is mining empty blocks"
The network is frequently exploited by miner: DMr3fEiVrPWFpoCWS958zNtqgnFb7QWn9D

The miner appears to exploit the network by starting the hashing process on receipt of unconfirmed blocks, by mining a sequential empty block and submitting the new empty block as soon as the received block in confirmed. The miner is able to steal from the network by mining multiple blocks using (what appears to be)

[2021-09-24 03:53] vertiond commented on #2585
This is called block withholding and is a technique that can be advantageous over time when done correctly.  I have confirmed F2Pool to do this practice on the Vertcoin network in the past.  This isn't a network exploit because this miner is simply making the choice to not relay a solved block and instead get started on the next block immediately without spending time doing relay.  Remember that i

[2021-09-24 14:56] patricklodder commented on #2585
Some context:

1. [They don't just mine empty blocks](https://sochain.com/block/DOGE/355fc5d132dca47f47b2144a45df0698ff824e9e6287f33b0041f5467620d6ef)
2. This particular pool has a history of updating later than the others, so it's possible they are still on 1.14.2. That version has a problem that block relay slows down message processing, including incoming transactions.
3. Pools will optimize to

[2021-09-24 16:27] patricklodder commented on #2583
How low is your fee? If it's over 0.01 DOGE/kb you can probably re-relay your transaction and get it mined. If under, most clients have only a 24h mempool retention policy, so you can re-create the transaction and spend those outputs with a higher fee.

[2021-09-24 16:34] didlie commented on #2585
The network will never mature because the parasitic blocks are contributing to excessive dilution.

[2021-09-24 16:42] ReverseControl commented on #2585
@patricklodder To @didlie's point, a significant number of their rewarded blocks appear to have mined no transactions beyond the coinbase. Yes, ``significant`` can be quantified precisely, but I have to write code to get the actual number and I am not up for it at the moment. I just took a look at which blocks have no fees added to the rewarded 10K DOGE. Its clearly noticeable if you do a visual i

[2021-09-24 16:45] didlie commented on #2585
Empty block mining can and is done strategically. This particular miner mines almost entirely empty blocks. It is irrelevant who the miner is, only that they are imementing a technical startegy to exoit the network, tax the network, and create depreciation and dilution without contributing to the processing of transactions. Of course, mining an empty block will always be possible, but the network

[2021-09-24 16:46] vertiond commented on #2585
Why don't you start by answering Pat's questions?

[2021-09-24 17:07] didlie commented on #2585
Answering the questions:

1) It is possible this miner is also a member of one or more of the other pools, and found an exploit to send un-mined and/or unconfirmed blocks to process simultaneously through a private hardware pool.

2) The miner associated with this address mines almost entirely empty blocks. It may have mined transaction blocks in the past, but every block I have seen mined by this

[2021-09-24 17:53] patricklodder commented on #2585
Note: you failed to include ANY evidence, but I'll indulge your speculation for the sake of clearing this up. Maybe, if you anger me sufficiently, I will do the research myself out of frustration with your panicking. Know that you are currently keeping me from doing important work though, so I beg you to please bring more evidence, not just accuse and speculate.

I just linked you a block from tod

[2021-09-24 18:21] patricklodder commented on #2585
Agree. I am not saying it's not happening. I do want to investigate it, but we have to break this cycle of accusations without evidence. It anyway doesn't help, because Dogecoin is permissionless, so if there is a bug, we identify it, fix it, and propose a soft fork, which will likely take a longer time.

There is no need to get worked up and do the FUD thing. @langerhans has a gif for this.

[2021-09-24 18:26] rnicoll commented on #2585
My inclination here is they're badly configured. In particular, if we follow this back; Dogecoin blocks are typically mined by miners also mining Litecoin. I don't have the tools to hand to dump the Litecoin coinbases out of those blocks, but if I pull up recent Litecoin blocks ( https://chain.so/LTC ), it doesn't take long to find the same thing on Litecoin:

* https://chain.so/block/LTC/2128643

[2021-09-24 18:36] patricklodder commented on #2585
[code]

[2021-09-24 19:23] patricklodder commented on #2585
Also updated https://blockshibe.net to display empty blocks as yellow in the stack-map on the right so that there is live data viz. Will do more later.

[2021-09-25 00:24] didlie commented on #2585
This is seems an obvious bug. I know the value and utility of the network will improve if this exploit is disallowed.

I endorse the "10x difficulty on empty blocks" proposal.

Donations for discovering this bug are welcome:
DBJXH3mV154TcYHW6AYkM2v5jx4uj2p9QG

I am not a large holder, but I am banking on the value of the Dogecoin network in the long-term.

[2021-09-25 01:40] patricklodder commented on #2585
What's the bug?

[2021-09-25 06:14] RosellaGirl87 commented on #2585
and Elon Musk will launch a DOGE-1 rocket in Q1 2022 What do you think?

[2021-09-25 08:24] rnicoll commented on #2585
We've identified the pool, going to reach out to them.

[2021-09-25 08:31] rnicoll commented on #2585
Also having looked at this again, I'm not _that_ convinced we're not just seeing a pool getting lucky with finding the next block, and transaction rate is low enough their mempool is empty when they started working on it.

[2021-09-25 18:50] victorsk2019 commented on #2585
Hello everyone,

I'm still learning how it all works but to address empty block mining issue, would it help to add a checking for empty blocks function in miner.cpp:

`bool BlockAssembler::CheckEmpty()
{
    return (nBlockTx == 0);
}`

And, if it returns 'true', then do not issue 10,000 coins to miner?  I realize this will not prevent someone from filling the block with fake transactions (as menti

[2021-09-26 03:18] didlie commented on #2585
@victorsk2019 The issue with this fix is obviously that in the case transaction volume temporarily slows, miners maintaining the network will not be credited for keeping the network running.

---suggested solutions---
Scale difficulty by number of transactions per block, or rather total transaction fees collected, where the collected fees are credited to the miner in place of the flat 10,000 dilut

[2021-09-26 03:24] didlie commented on #2585
@patricklodder @rnicoll @ReverseControl @vertiond
yet another empty block by the same miner just now: Block #3912481

[2021-09-26 03:25] quackduck commented on #2585
I mean, they're already incentivized to include TXs by the TX fees.

[2021-09-26 03:30] didlie commented on #2585
Are you serious? TX fees are tiny! Are you serious? $2000 + or - $0.40 is not incentive.
RE:

[2021-09-26 03:50] quackduck commented on #2585
Oop, then it's a good idea I guess?

[2021-09-26 08:39] rnicoll commented on #2585
Talked to the miner. What's happening is this:

1. Block n is mined.
2. Nodes remove all transactions in block n from the mempool.
3. The miner's node sends the block template for n+1 is sent to their miners. As the mempool is empty, the template is empty.
4. If it's mined before the next template is sent, it generates an empty block.

The template refresh is up to 55 seconds currently, which mean

[2021-09-26 17:09] patricklodder commented on #2585
Since this is an individual miner's configuration, this is not an issue with Dogecoin Core. If anyone feels the need to discuss this further, please use discussions. I am migrating this issue from here to there.

[2021-09-26 17:09] #2585 closed

[2021-09-26 22:53] victorsk2019 opened #2592 "[feat] Extra /src directory in rpc-tests.py line 221"
Hi everyone,

There seems to be an extra /src directory being appended to BUILDIR for '--srcdir' value in rpc-tests.py on line 221.  I presume this is done to account for default Dogecoin Core binary files locations when '--prefix' specifier at configure stage is not used.  However, in cases when custom locations of Dogecoin Core binary files are specified, this '/src' directory is appended as ext

[2021-09-26 23:31] patricklodder commented on #2592
Hi! That line is only to deduct the build dir (is the root directory of the repo) and then point to the binaries in `src/`. But you can override this with `--srcdir=<your path to dogecoind/dogecoin-cli/dogecoin-tx>` rather than trying to use env variables?

Why don't you want to use the command line argument?

[2021-09-26 23:59] victorsk2019 commented on #2592
Hi.  It's more convenient, in my opinion.  Not sure if it can be identified right away.  Took me some time to find --srcdir as command-line argument it as I was getting error messages with rpc-tests.py with original values set for BUILDIR.

[2021-09-27 00:25] #2592 closed

[2021-09-27 02:40] didlie opened #2593 "This is a bug: Talked to the miner. What's happening is this:"
Talked to the miner. What's happening is this:

1. Block n is mined.
2. Nodes remove all transactions in block n from the mempool.
3. The miner's node sends the block template for n+1 is sent to their miners. As the mempool is empty, the template is empty.
4. If it's mined before the next template is sent, it generates an empty block.

The template refresh is up to 55 seconds currently, which mean

[2021-09-27 02:42] didlie commented on #2593
https://dogechain.info/block/3913811 ---- more empty transactions crediting this miner with diluting 10,000 Dogecoin. https://dogechain.info/block/3913807

[2021-09-27 15:55] patricklodder commented on #2593
Currently, miner sovereignty to choose what to include in a block is a feature, not a bug. Please use discussions if you want to challenge that.

[2021-09-27 15:55] #2593 closed

[2021-09-27 21:52] vannieuwenhovej commented on #2583
Can you link the tx hash?

[2021-09-28 21:17] patricklodder commented on #2338
@fmhc would it be possible for you to check out the results of #2595 and let us know if that fixes your issue?

[2021-09-29 08:58] persisty opened #2596 "dogecoin-cli listaccounts | documentation?"
Hi,
Sorry if this is a stupid Q. I'm running a dogecoin core 1.14.4 for a few days.
dogecoin-cli getconnectioncount is between 30 and 70 at any time.

I can't find any docs on commands.

e.g.
dogecoin-cli listaccounts
gives me
error code: -32601
error message:
Method not found

Any good reference links would be helpful. Thanks in advance

[2021-09-29 13:01] AbcSxyZ commented on #2596
Hi,

Current documentation lack information about commands in overall, no real usage & syntax docs. For now, you will have to search information on Internet, query google. It may be useful to check bitcoin documentation too.

There is also a PR in progress about the topic, to create a getting started section inside the documentation to start using `dogecoind`, `dogecoin-cli` at least. You won't fi

[2021-09-29 13:12] didlie opened #2597 "Network Dominated and exploited by one miner, empty blocks, miner at over 25% of mined blocks[bug]"
This miner found an exploit. The miner is mining more than 25% of all Dogecoin blocks. Most of the blocks are empty. Multiple empty blocks are mined in less than 1 minute. This miner dominates the number of empty blocks. This miner found an exploit using an older version of the core application, probably reprogrammed and therefore will never update to the new core application.

<html>
<body>

3,91

[2021-09-29 14:02] persisty commented on #2596
Thanks. Looking at it.
1.  Any idea what error 32601 means?
2. Is it possible that some methods do not work for some time after a node comes up?

dogecoin-cli listaccounts
gives me
error code: -32601
error message:
Method not found

[2021-09-29 14:32] AbcSxyZ commented on #2596
I'm not sure about it, but it may be possible depending on the commands, and also by what you mean by "working". For example, `listunspent` need to have download enough of the blockchain to track your transactions, otherwise it "won't work".

Also, you may have some commands who are available on Bitcoin Core and not in Dogecoin Core.

[2021-09-29 15:30] #2596 closed

[2021-09-29 15:34] polska333 commented on #2338
Can anybody help me all my ghost coin went missing after I upgraded to the
new wallet like I was told to I don't know what's going on I'm disabled I'm
connected to a machine 16 hours a day I died once already and now all my
dose coin is missing that's the only thing that was keeping my mind off my
disability I'm going to die again it could be days could be months could be
years hopefully he is but

[2021-09-29 15:44] polska333 commented on #2300
Can someone please help me I'm disabled I died once already about 9 months
ago they brought me back to life now I eat through a tube I'm connected to
a machine sometimes more than 16 hours a day no money is tight right now I
was doing good with my dogecoin when I upgraded to the new wallet all my
ghost coin is missing somehow it's like it never existed like that's all I
had that was keeping my min

[2021-09-29 16:08] #2597 closed

[2021-09-29 16:10] patricklodder commented on #2596
@persisty you may want to try `dogecoin-cli help` and `dogecoin-cli help <command>`

[2021-09-29 18:49] patricklodder commented on #1313
@rnicoll Could you elaborate on where/how is this implemented?

[2021-09-29 19:23] rnicoll commented on #1313
@patricklodder Oops I'd missed this had activity on it, I'd thought it was in 1.14.5 by accident. Re-opened!

[2021-09-30 02:32] Johnz1995 opened #2598 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-09-30 02:32] Johnz1995 commented on #2598
Wow

[2021-09-30 15:17] #2598 closed

[2021-10-01 06:09] Dibbyo456 commented on #1792
Having the exact same issue, has anyone found a fix?

[2021-10-02 08:26] AbcSxyZ commented on #2582
Not now, not here, not that way. The idea remain but I close this issue.

[2021-10-02 08:26] #2582 closed

[2021-10-02 18:24] dgs2019 opened #2600 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-10-02 18:59] polska333 commented on #2600
Do you know what I can do about all my daughters going missing and I'm
unable to contact anybody to help me I'm disabled I died once already it's
going to happen again just don't know when could be days months hopefully
if he is but I'm connected to a machine that keeps me alive and feed me I
have this tube in me and life hasn't been easy and now all my doors going
goes missing and exchange or nob

[2021-10-02 19:08] #2600 closed

[2021-10-03 17:29] edtubbs commented on #2104
# Crypto intrinsic support update
**Objective**
Increase throughput of SHA family implementation in core using hardware intrinsics of x86 for ARM below.
x86 by https://github.com/intel/intel-ipsec-mb
ARM by https://github.com/noloader/SHA-Intrinsics

- Initial integration of intel-ipsec-mb into experimental build of core for x86 complete; testing and benchmarking is in progress.
  - Win64 build wi

[2021-10-05 00:28] sulaimanvesal commented on #2530
I am a native Persian speaker, if you want I can replace the word "Bitcoin" -> "Dogecoin" and validate the translation.

[2021-10-05 00:42] chromatic commented on #2530
@sulaimanvesal That would be great, thank you!

[2021-10-05 04:01] vijaychowthri opened #2602 "[feat] is it possible to add some ADA features like treasury!?"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-10-05 09:06] polska333 commented on #2602
I want all my missing d o g e back I'm disabled I died once already not too
long ago it's going to happen again I don't know when every month could be
a couple years hopefully it's longer but I'm a very sick person I'm hooked
up to a machine more than half the day now I can't go afford to go out and
buy more I worked hard to get all my crypto and to have it all disappear
from me with no trace of i

[2021-10-05 15:30] patricklodder commented on #2602
Please:

❤️

[2021-10-05 15:33] patricklodder commented on #2530
We'll need to run `update` on the translation file for Persian because that was not included in #2589

[2021-10-05 16:04] polska333 commented on #2602
Is it possible to help someone who's disabled died once already and it's
going to happen again could be months could be years hopefully it's longer
but I am scared and all my doge went missing now because of my disability
unable to purchase more I will build that up for a long time and now it's
all gone for me it disappeared there's no trace of it I do not understand
it and it's impossible to get

[2021-10-05 16:10] QuickMythril commented on #2602
what exchange?

[2021-10-06 03:56] edtubbs commented on #2104
## Initial test results
### i7-8650U CPU @ 1.90GHz
#### VirtualBox VM (Ubuntu 18.04)
On average, test_dogecoin_avx2 executes roughly 6 seconds faster than test_dogecoin.

[code]

[2021-10-06 17:46] gWOLF3 commented on #1831
No. Please no segwit

[2021-10-06 18:12] patricklodder opened #2603 "[bug] Dust outputs are always interpreted as non-standard on mainnet"
# Bug Report

_Follow-up from https://github.com/dogecoin/dogecoin/issues/2601#issuecomment-935062141_

Since v1.14.2, any transaction with an output under 1 DOGE is considered non-standard.

### What happened?

Historically, from v1.3.0 until v1.8.3, [dogecoin had no dust limit](https://github.com/dogecoin/dogecoin/blob/f626f8f43672a940c7840577b007f3d0010c2179/src/test/transaction_tests.cpp#L3200

[2021-10-07 20:40] victorsk2019 commented on #2603
Well, I generally try to follow KISS principle as much as possible 😜 and based on the problem description (and my current level of understanding of this subject) I think this could be solution to the issue (if it works, why not?).

[2021-10-08 16:19] patricklodder commented on #2603
I'm okay with KISS principle as long as there are tests and documentation, and it's not used as an excuse to cut corners. Do realize that small hacks can have big consequences: I'm really not sure at all if #1615 intended to do this policy change, or that it was accidental, making it a prime example of a case where KISS may be a bit too lazy, and instead doing more research and engineering effort

[2021-10-08 16:50] victorsk2019 commented on #2603
Thank you for your feedback and detailed explanation.

`An economically unviable output under 0.001 DOGE - which is 10x lower than what I'm proposing`

I thought maybe `-mintxfee` setting could be used as a limit to dust output?  Same as it works to correct `-paytxfee` fee as per discussion here: https://github.com/dogecoin/dogecoin/pull/2446?

[2021-10-08 18:38] patricklodder commented on #2603
Further research while I was looking if there would be something to cherry-pick from bitcoin/bitcoin got me to f4d00e63, which is currently part of 1.21-dev. Although that uses a rate in coin/Kb rather than a fixed amount - so it doesn't make sense to cherry-pick that because that would change the method for handling dust completely - we can definitely reuse the terminology of `discard` for the wa

[2021-10-12 16:16] patricklodder commented on #1313
moved to 1.14.6

[2021-10-13 20:41] patricklodder commented on #2603
Implementation has been done, PRs have been reviewed and merged. I'm doing manual testing and will try to propose some cleanup now based on the current 1.14.5-dev

[2021-10-15 20:42] chongzhizhao opened #2625 "[bug] Missing return value and missing va_end()"
# Bug Report

**Description**

Hi, I was testing cppcheck, a static analysis tool, on dogecoin and found these 2 issues. This is my first time attempting to report bugs, so let me know if they are valid.

1.  dogecoin/src/dogecoin-fees.cpp:25: Function with non-void return type has missing return statement.
2. dogecoin/src/zmq/zmqpublishnotifier.cpp:33: va_list "args" not closed by va_end().

**Do

[2021-10-15 20:53] kitcateleven commented on #2603
Thanks for your hard work everyone. There's a lot to study re: the economics of these decisions - I have a lot to learn but appreciate what you're doing

[2021-10-15 21:00] chromatic commented on #2625
Thanks for the report! I'll take a look this weekend unless someone does it before I do.

[2021-10-15 23:27] patricklodder commented on #2625
Did some looking in advance

This is now line 69 and has already been fixed by @chromatic in aeccc23943 on 1.14.5-dev

I think this is still open, I'll wait for the weekend ❤️

[2021-10-16 01:50] JustInTrades commented on #2625
Nice

[2021-10-17 14:17] Star6654 commented on #2460
Thanks

[2021-10-17 17:29] chromatic commented on #2625
Good catch. [Bitcoin fixed this in 5ba61f](https://github.com/bitcoin/bitcoin/commit/5ba61f0034597ffeedc8c44af5a6ec670b095d83), so pulling in that commit fixes it here (PR #2627).

[2021-10-17 19:50] patricklodder commented on #2625
This has been solved for 1.14.5-dev, thank you @chromatic!

`cppcheck` is interesting by the way, it finds a lot more issues than static analysis from codeql (but it doesn't have the same analysis scope so it's not a replacement). Maybe we should add it to the GH actions run? Thoughts?

[2021-10-17 20:45] chromatic commented on #2625
`cppcheck` caught a couple of things we didn't catch otherwise, so there's value in it. My only concerns are minor: adding additional latency to the GH actions run and maintenance costs of keeping the action running. Neither has been a drag on my work.

[2021-10-17 21:00] patricklodder commented on #2625
I am not worried about the first because CodeQL already checks dependency code, so we can simply do a native ./configure with system libs and we should be good, because this should then be running faster than CodeQL (i.e. end to end it doesn't have negative impact then)

The second, yes this is a challenge. Though it should be obvious when it is broken, our biggest problems in the past have been t

[2021-10-18 12:59] MishaBoar opened #2630 "Add createauxblock RPC command to 1.14.x version to faciliate minining pools' adoption"
# Feature Request

User https://twitter.com/realalirez has been contacting mining pools in the past days. Several mining pools are not upgrading to newer builds because they do not include the createauxblock RPC command, which, in the past, it was discussed might have been added in Dogecoin Core 1.17 (see @rnicoll Post in 2019: https://rnicoll.name/dogecoin/1-17-mining/index.html). They could inst

[2021-10-18 15:35] patricklodder opened #2631 "[feat] Enable cppcheck on GH Actions CI"
*follow-up from #2625*

### Feature Request

Manual runs of the static analysis tool [cppcheck](https://cppcheck.sourceforge.io) finds different (but important) issues with the code than our current CodeQL integration finds. It may make sense to use this on the CI with every PR to detect and gate the introduction of issues into the codebase.

### Preferred Solution

A GH Actions check for 1.14, th

[2021-10-18 16:55] patricklodder commented on #2630
I think that the current share any miner has is irrelevant to the decision whether to include this or not. We knew that it had gone missing for a little over a month now, and we hadn't prioritized it because we had no indication that anyone needed it right now. Now we do, so we should act accordingly: the request is there, let's not procrastinate.

It's relatively straightforward because we don't

[2021-10-18 19:32] cryptoyoda8 opened #2634 "[bug] [macOS] Selected tab title invisible when window is active"
# Bug Report

**Current behavior:**
Selected tab title is not always visible

**Expected behavior**
Selected tab title is always visible

**Steps to reproduce:**
Open any window that has a tab bar on the top, e.g. "Preferences", "Debug window".
When the window is active, the title of the selected tab is not be visible.
When the window is not active, the title of the selected tab is visible.

**Scr

[2021-10-18 19:55] patricklodder commented on #2634
This is an issue with QT and macOS dark mode (iirc for Catalina and up). It will get fixed when we upgrade the QT dependency to a higher version. That's currently targeted for 1.14.6.

[2021-10-18 20:33] cryptoyoda8 opened #2635 "[bug][macOS] Copyright truncated in welcome window"
Minor UI bug, but worth fixing since this is the first window people see when launching Dogecoin Core.

# Bug Report

**Current behavior:**
Copyright truncated in welcome screen

**Expected behavior**
Copyright not truncated in welcome screen

**Steps to reproduce:**
Launch Dogecoin Core

**Screenshots**
![2021-10-18 13 27 29](https://user-images.githubusercontent.com/92754901/137802544-543af37c-2

[2021-10-18 20:45] cryptoyoda8 commented on #2602
If you mean routing a portion of transaction fees or block rewards to developer or marketing wallets, I would advise strongly against it. It hurts decentralization.

[2021-10-18 20:53] chromatic commented on #2635
Thanks for reporting! I think the relevant code is in the [SplashScreen implementation](https://github.com/dogecoin/dogecoin/blob/1.14.5-dev/src/qt/splashscreen.cpp#L105-L112).

[2021-10-19 20:54] patricklodder commented on #2630
About the first quirk: like I said it's a feature that I think makes sense and it doesn't hurt anyone that uses a single address, the only overhead introduced for those that don't use it is vectorization overhead, and a 3-line patch.

Re-reading bullet point 1 on the v1.14.2 release notes and your work in dbfb33ab shows a bit of a different story: the underscore made it into 1.14.0 and then there

[2021-10-19 21:11] sinetek commented on #2526
This can be closed?

[2021-10-21 14:59] sinetek commented on #2432
This is not an issue specific to dogecoin unfortunately.
Try the following.

[code]
[code]

The result on my machine is a segfault. Even with binutils 2.37.50.20211021.

[2021-10-21 17:08] patricklodder commented on #2344
Do you mean re-use seeds? Or actual EC keys?

[2021-10-21 17:42] sinetek opened #2639 "[feat] Precision on BDB requirements."
Do we need to support BDB 4?
I'd like to pull in `install_db4.sh` if so, otherwise there's no point asking for the annoying `--without-incompatible-bdb`.

[2021-10-21 18:09] patricklodder commented on #2639
No. We've recently moved up to bdb5.3, have standardized on bdb5.1 since somewhere 2014

[2021-10-21 20:32] patricklodder commented on #2344
Would recommend against that because a p2sh multisig spend will:

1. expose the redeem script and thus the public key, which can - depending on your re-use scheme - either partially or fully expose the source to the p2sh address, not only on-chain, but also cross-chain. This basically degrades the protections that key and script hashing can offer when a key is used only once (plausible deniability

[2021-10-21 20:58] patricklodder commented on #2344
As long as you use hardened derivation wherever you can, that should be up-to-standard. Have a look at [BIP44](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) and [SLIP44](https://github.com/satoshilabs/slips/blob/master/slip-0044.md) for an overview of how this can be achieved with a standard derivation scheme that is used in the field a lot.

[2021-10-23 08:04] mdhasan11 opened #2641 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-10-23 23:18] alfirus opened #2642 "[bug] libdb_cxx headers missing"
# Bug Report

**Current behavior:**
configure: error: libdb_cxx headers missing, Dogecoin Core requires this library for wallet functionality (--disable-wallet to disable wallet functionality)

**Expected behavior**
Compile completed

**Steps to reproduce:**

**Screenshots**
https://www.dropbox.com/s/x2ue6t5p9vho2lf/Screenshot%202021-10-24%2007.17.16.png?dl=0

**Dogecoin Core version**
Latest

**M

[2021-10-24 01:38] xanimo commented on #2642
So you need to either install the dependencies for bdb yourself or build from depends. The following will build depends:
[code]

[2021-10-24 14:37] #2641 closed, assigned to nobody

[2021-10-26 14:06] Mylifeloading94 opened #2643 "[bug]"
I'm using the core app. The wallet fully synced but didn't send to my trust wallet address but was still withdrawn from the application. I know my phrase code and have my wallet.dat file.
![20211026_013053](https://user-images.githubusercontent.com/93205338/138895483-a094a3cd-7a3d-4f2b-992a-ba4b379f0f60.jpg)

[2021-10-30 19:33] patricklodder commented on #2630
@michilumin Since this was starting to look stalled, I have pulled in your work from michilumin@1c5b9b3, added an extensive RPC test and fixed the issue with the address cache (retaining your commit plus some fixes). Will open PR shortly.

[2021-10-31 14:53] rllola opened #2651 "[feat] Improve error message for `submitblock`"
# Feature Request

**Describe the Feature Request**

Improve the error message for `submitblock` when there is an issue with the coinbase transaction.

**Describe Preferred Solution**

The current error message indicate "Block does not start with a coinbase"
There is 2 possibilities for this error to be returned :
* No transaction
* We have a transaction but it doesn't fit the coinbase transaction

[2021-10-31 18:09] victorsk2019 commented on #2651
Would it solve it to just split this condition?

    if (block.vtx.empty())
    {
        throw JSONRPCError(RPC_DESERIALIZATION_ERROR, "No transaction");
    }

    if (!block.vtx[0]->IsCoinBase())
    {
        throw JSONRPCError(RPC_DESERIALIZATION_ERROR, "Block does not start with a coinbase");
    }

[2021-10-31 19:33] rnicoll opened #2652 "Port https://github.com/dogecoin/dogecoin/pull/2647 to 1.21"
The support for multiple coinbase addresses and the tests around it need porting to 1.21 once AuxPoW is merged in.

[2021-10-31 19:40] chromatic commented on #2651
That looks close to what I'd propose. The existing Dogecoin code exactly matches [Bitcoin's behavior in this scenario](https://github.com/bitcoin/bitcoin/blob/master/src/rpc/mining.cpp#L983-L985).

My only concern is people relying on the wording of the message for the first case (no transaction in block). Maybe it's better to change the first message to `Block does not start with a coinbase: no t

[2021-10-31 22:02] patricklodder commented on #2652
Note: the "feature" accepting `submitauxblock` for multiple finds at the same height could lead to more orphaned chain tips on main net, depending on how pool software implements work resets. I want to keep this under observation and if we see a significant increase in orphaned blocks, propose a way to mitigate.

[2021-10-31 22:35] patricklodder commented on #2651
The rules for a block are:

1. There should always be a **valid** coinbase transaction
2. The coinbase transaction should always be the first transaction in the block

So even though the message kind of covers that, I get how it can be improved to be easier to understand. Note that the intent of this check is pre-validation to save clock cycles, see a44a6a15 for the rationale.

How about:

[code]

[2021-10-31 22:43] patricklodder commented on #2651
Tagged for 1.14.5 because this is not a lot of work - if someone could please PR, that'd be cool.

[2021-11-01 10:43] rllola commented on #2651
That looks great :+1:

To answer your concern @chromatic. I have seen some developers who do that and it is a bad practice (no judgement here). There is associated with it an error code and this one won't changed though. They can easily switch to this.

See
https://github.com/dogecoin/dogecoin/blob/master/src/rpc/protocol.h#L48

Good practice would be to be able to handle all `RPCErrorCode` in thi

[2021-11-01 15:38] patricklodder commented on #2281
Fixed with #2286

[2021-11-01 15:38] #2281 closed

[2021-11-01 16:31] #2603 closed

[2021-11-01 16:43] patricklodder opened #2655 "Open items for 1.14.5 release"
Listing for transparency, let me know if I missed anything.

### Must-haves
- [x] #2666 (fixes CVE)
- [x] #2673 (fixes CVE)

### Should-haves (either we merge or reject these):

- [x] #2568
  - [x] Needs #2664
  - [x] Needs #2668
- [x] #2653
- [x] #2654

### Could-haves (non-blocking but would be good to get in, otherwise push to 1.14.6):

- [x] #2491
- [x] Postponed to 1.14.6: #2579
- [x] Postpon

[2021-11-01 17:13] rllola opened #2656 "[feat] Update `ltc_scrypt` python module"
# Feature Request

**Describe the Feature Request**

The python script used for test is required a old python scrypt module. This modules doesn't look compatible with python3 (unless I am doing it wrong).

**Describe Preferred Solution**

Replace it by a python3 module like `litecoin_scrypt` (https://pypi.org/project/litecoin_scrypt/).
It is basically the same code but updated for python3. It keep

[2021-11-01 17:18] patricklodder commented on #2656
It works for me with python3, do you run `qa/pull-tester/install-deps.sh`? or try to use package manager?

[2021-11-01 17:23] rllola commented on #2656
I tried using `pip install ltc_scrypt`

This is the error message:
[code]

[2021-11-01 17:32] patricklodder commented on #2656
Ah yes, please use the provided script. It compiles from source.

[2021-11-01 17:46] rllola commented on #2656
I am really confused now...

I don't understand why I can install `litecoin_scrypt` using `pip install` but for `ltc_scrypt` it only works by doing `python3 setup.py install`.

The two libraries are the same except for the binding.

[2021-11-01 17:51] patricklodder commented on #2656
The install script installs a verified source (by us), pip does not. We can change sources in a next release to also support the pip version and switch to a verified tag in whatever the source for the published `litecoin_scrypt` module is. That will solve your problem. For now though, the way to use the regression test suite is by running the supplied dependency install script. That's also what th

[2021-11-01 18:19] rllola commented on #2656
Ok I just understand what is the difference.

The one published here : https://github.com/langerhans/ltc-scrypt/archive/master.tar.gz
is the same as `litecoin_scrypt` but with the old module name `ltc_scrypt`.

I though you were running the test using python2 because I was looking for the package in pip. You are not tho.

That sounds good. It is really low priority tho. So you can even close this.

[2021-11-01 18:25] patricklodder commented on #2656
Let's just fix it - it has been a source of confusion for forever...

[2021-11-01 22:01] patricklodder commented on #2651
@rllola as #2653 has been merged, I'm closing this, but if you have any further concerns, feel free to reopen this issue.

[2021-11-01 22:01] #2651 closed

[2021-11-01 22:04] patricklodder commented on #2630
This is brought back now and #2654 should make it even easier for pools that were using the btccom version to migrate to 1.14.5 - I'm closing this.

[2021-11-01 22:04] #2630 closed

[2021-11-01 22:05] patricklodder commented on #2338
Closing this as #2595 was confirmed on other keyboard layouts. if this problem persists, please let us know.

[2021-11-01 22:05] #2338 closed

[2021-11-01 22:08] patricklodder commented on #2400
I have a concept for caching dependency sources on ipfs instead of centralized web servers, but this needs further testing and integration before I propose it. Will target 1.14.6.

[2021-11-02 13:19] AbcSxyZ commented on #2655
For the gitian build of  https://github.com/dogecoin/dogecoin/pull/2579, it relies on a pending request in [devrandom/gitian-builder](https://github.com/devrandom/gitian-builder/pull/253) repo to get `--disable-apt-cacher` option. Idk if you would prefer to wait to merge #2579, or if we keep a script who always use apt-cacher and create a new PR to disable cache whenever https://github.com/devrand

[2021-11-03 13:28] CharesFang opened #2665 "URI Argument Injection in Dogecoin-Qt"
# URI Argument Injection in Dogecoin-Qt

We recently found and confirmed that Dogecoin Core in the **latest release** (version `1.14.4`)  and earlier versions are affected by a [remote code execution vulnerability in Qt5-based GUI apps](https://www.bleepingcomputer.com/news/security/qt5-based-gui-apps-susceptible-to-remote-code-execution/). Specifically, the `QApplication` in `Qt` framework used b

[2021-11-03 16:17] patricklodder commented on #2665
@CharesFang Thank you! I have manually back ported the fix from Bitcoin Core and have verified locally. Could you please let me know if this fix is complete from your perspective?

[2021-11-03 16:19] patricklodder commented on #2655
Added #2666 as it contains a fix for #2665 as must have.

[2021-11-03 19:35] ayman commented on #2513
I'm having this issue on Mac OS 12 (Monterey)...it DogeCoin Core ran just fine on Big Sur before upgrading.  While _potentially dangerous_, a workaround is as follows:

`sudo xattr -rc /Applications/Dogecoin-Qt.app`

[2021-11-03 19:38] eggcn commented on #2665
I hope to fix as soon as possible

[2021-11-03 20:05] patricklodder commented on #2665
Fix is in #2666, and we're in the last stages of release preparation so this should be out real soon.

[2021-11-04 02:16] CharesFang commented on #2665
It looks good. You can fix this vulnerability just as Bitcoin did.

[2021-11-04 12:50] patricklodder commented on #2665
#2666 is merged, will be released with 1.14.5 shortly.

[2021-11-04 12:50] #2665 closed

[2021-11-04 19:43] patricklodder commented on #2655
Moved #2648 to could-haves because it is seeing contention, and #2661 already writes out the entire recommendation. The release notes and messaging will also clearly iterate the fee recommendation, so the need is lower. Can settle this for 1.14.6 - @AbcSxyZ are you okay with that?

[2021-11-04 21:05] AbcSxyZ commented on #2655
However you want guys. I thought it can be great to add information about fees easily accessible through the documentation. Maybe you can just add a sentence to link with `doc/fee-recommendation` in the `README`, at the bottom of the usage section ? It's simple and may facilitate access to the information

[2021-11-04 23:57] Frankwhitee commented on #2655
Keep up the good work D

[2021-11-05 11:25] yixiao5428 opened #2672 "Potential Wallet Address Book Info Leakage"
## Potential Wallet Address Book Info Leakage

Currently, **`dogecoin-qt`** stores `wallet.dat` unencrypted in memory. Upon a crash, it may dump a core file that can be used to reconstruct the user's `wallet.dat`, including the private keys.

This issue is originally reported by oxagast in Bitcoin [issue #16824](https://github.com/bitcoin/bitcoin/issues/16824), and has been assigned CVE-2019-15947

[2021-11-05 11:33] rnicoll commented on #2672
As I was briefly confused why this was an issue, for otgees reading this later, the file on disk is encrypted and this allows extraction of unencrypted keys.

[2021-11-05 12:38] patricklodder commented on #2655
Added #2673 as must-have - it fixes the CVE reported in #2672

[2021-11-05 12:52] patricklodder commented on #2672
@yixiao5428 Thank you! Fix proposed with #2673.

[2021-11-07 14:40] patricklodder commented on #2672
Fix has been merged!

[2021-11-07 14:40] #2672 closed

[2021-11-07 17:09] rnicoll commented on #2655
I'll tag in about an hour unless there's objections or someone beats me to it!

[2021-11-07 17:27] patricklodder commented on #2655
@rnicoll No objections! Feel free to tag at your convenience.

[2021-11-07 18:45] upperhandy commented on #2655
Exciting times!

[2021-11-07 19:31] rnicoll commented on #2655
@patricklodder Tagged, Gitian build running, signatures should be up shortly.

[2021-11-07 22:00] a10554 commented on #2655
Good job. When is it expected to be available for download ?

[2021-11-07 22:40] upperhandy commented on #2655
@a10554 soon

[2021-11-08 00:05] chromatic opened #2675 "[bug] OpenType Font warning on Linux when first viewing Settings -> Options"
# Bug Report

**Current behavior:**

On Linux, in the Qt interface, the first time I view the Settings -> Options menu, the GUI prints four lines to the `debug.log`:

[code]

The Options window eventually loads, and I can select the interface language from a dropdown list widget. Language and country names do appear to display correctly.

**Expected behavior**

The Options window displays correctl

[2021-11-08 13:04] patricklodder commented on #2655
fast-forwarded 1.14-maint and created 1.14.6-dev while we wait for the signed 1.14.5 macOS binaries to be created & verified

[2021-11-08 14:44] ifuckingyouyeah opened #2681 "I want github coin pre-sale[feat]"
![images](https://user-images.githubusercontent.com/93928639/140762479-b21ba833-8659-4bb8-96c3-716e3f02d12f.jpeg)

# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-11-08 19:05] patricklodder commented on #2655
# 🥳

[2021-11-08 19:05] #2655 closed

[2021-11-08 20:32] a10554 commented on #2655
sweet

[2021-11-09 01:13] patricklodder commented on #2631
I have dug into this a bit more.

- [Bedzior/run-cppcheck](https://github.com/Bedzior/run-cppcheck) is probably the simplest GH Actions implementation around and that's why it works pretty well with our source.
- I have found no off-the-shelf action that allows a comparison between a base branch and a PR, like CodeQL does.
- If we want to have Code Scanning Alerts integrations, we'll probably have

[2021-11-09 05:44] slightlyskepticalpotat opened #2688 "[feat] Updated Chinese README.md Translation"
# Feature Request

**Describe the Feature Request**
It would be nice to have an updated Chinese translation of the README, as the English version has been improved through Docs4Doge but the Chinese one has not.

**Describe Preferred Solution**
See above.

**Describe Alternatives**
Alternatively, we could keep the outdated Chinese translation or remove it entirely.

**Related Code**
[README.md](htt

[2021-11-09 08:26] IsaaacD commented on #1792
My issue was that I had setup a sync of both BTC and DOGE, I think they ran in contention for available resources on the server. I just installed a DOGE node, maybe it would be possible to add more coins once synced but I've not tried.

[2021-11-09 23:56] #2602 closed

[2021-11-10 14:02] bagasik opened #2690 "[bug] build error"
Hello.
My system centos-release-7-6.1810.2.el7.centos.x86_64.
dogecoin build error.
# cd /mnt/dogecoin_install/
# git clone https://github.com/dogecoin/dogecoin
# cd dogecoin/
# ./autogen.sh
# ./configure
# make
Making all in src
make[1]: Вход в каталог `/mnt/dogecoin_install/dogecoin/src'
make[2]: Вход в каталог `/mnt/dogecoin_install/dogecoin/src'
make[3]: Вход в каталог `/mnt/dogecoin_install/d

[2021-11-10 14:18] patricklodder commented on #2690
which version of boost do you have installed? You can find it with:

[code]

[2021-11-10 14:19] bagasik commented on #2690
#define BOOST_LIB_VERSION "1_53"

[2021-11-10 14:22] patricklodder commented on #2690
The minimum version you'll want is 1_63, I've personally tested until 1_76 so far - if CentOS doesn't provide anything higher than 1_53, you can download and compile it from https://sourceforge.net/projects/boost/files/boost/1.63.0

[2021-11-10 14:50] bagasik commented on #2690
new error.
  CXX      libdogecoin_common_a-dogecoin-fees.o
In file included from /usr/local/include/boost/signals2/detail/null_output_iterator.hpp:14:0,
                 from /usr/local/include/boost/signals2/connection.hpp:22,
                 from /usr/local/include/boost/signals2/signal.hpp:22,
                 from txmempool.h:28,
                 from dogecoin-fees.cpp:11:
/usr/local/include/

[2021-11-10 17:27] patricklodder commented on #2690
I'm able to reproduce this error on a centos:7 docker image, am still looking for the root cause and why this doesn't happen on ubuntu18-21.

[2021-11-10 17:45] Mohammedasif786 commented on #2688
Yeah really?

[2021-11-10 19:54] Johnz1995 opened #2691 "0x94bfb6eaaead44c0c2b7ffd0cb724602142d4821"
0x94bfb6eaaead44c0c2b7ffd0cb724602142d4821

__Originally posted by @baldFun50 in https://github.com/PayString/paystring/issues/754__

[2021-11-10 19:55] #2691 closed

[2021-11-10 23:08] patricklodder commented on #2690
The problem with CentOS 7 is that it has `automake-1.13` and we need at least `automake-1.14` for it to understand `%reldir%`.

I can build on CentOS 7 with the following sequence (Dockerfile):

[code]

so for @bagasik, this would probably mean the following based on where we left off:
[code]

and then in the dogecoin root:

[code]

and done.

I'll turn this into a centos7 guide.

[2021-11-11 19:12] patricklodder commented on #2690
@bagasik did the above work for you?

[2021-11-11 21:13] JohnTHaller opened #2695 "[feat] Offer to sign Windows builds from the PortableApps.com project"
I'd like to offer to sign the Windows builds of Dogecoin via PortableApps.com. They would show as signed by our legal entity, Rare Ideas, LLC, a New York City-based Limited Liability Company. I've been signing our builds from PortabelApps.com for well over a decade, including builds partnered with Mozilla and The Document Foundation. If you'd like to keep it in house, no worries.

[2021-11-11 21:40] patricklodder commented on #2695
Hi! We [have the tooling](https://github.com/dogecoin/dogecoin/blob/master/contrib/gitian-descriptors/gitian-win-signer.yml) to do this ourselves, and [I have it on my todo (for today actually, oof)](https://old.reddit.com/r/dogecoindev/comments/qpkk46/comment/hjxy6kx?context=3) to look into this. So you have great timing 😁

2 questions:
1. How do you currently prove that binaries signed by you do

[2021-11-12 02:51] henta opened #2696 "Does anyone know the error of binance's handling fee?"
They repackaged transactions that failed a few years ago because they didn't have enough fees
This may be caused by the recent reduction of fee by Doge Chain
Does anyone know the scope of influence?

[2021-11-12 03:43] wunshine commented on #2696
https://twitter.com/dogecoin_devs/status/1458868925039464451

[2021-11-12 07:09] bagasik commented on #2690
Thanks, all worked well.

[2021-11-12 12:29] levon1991 opened #2697 "Aux POW missing chain merkle root in parent coinbase"
Hi,

I've installed latest wallet but have a some problem with merged mining.
I try to merge with LTC and can find a block but when I try to submit it on Doge node it return

2021-11-12 12:20:02 ERROR: Aux POW missing chain merkle root in parent coinbase
2021-11-12 12:20:02 ERROR: CheckAuxPowProofOfWork : AUX POW is not valid
2021-11-12 12:20:02 ERROR: ProcessNewBlock: AcceptBlock FAILED

can you

[2021-11-12 13:10] #2690 closed

[2021-11-12 14:21] #2696 closed

[2021-11-12 14:22] patricklodder commented on #2697
Did it work on the previous version or is this a new installation?

[2021-11-12 16:02] patricklodder commented on #2367
See: https://github.com/dogecoin/docker

[2021-11-12 16:02] #2367 closed

[2021-11-12 16:02] #2366 closed

[2021-11-13 04:51] diadal commented on #2494
`createwallet` is needed hoping to see it implemented sooner

[2021-11-13 04:58] diadal commented on #2494
@ftechizPrashant were you able to make this work?

[2021-11-15 06:07] levon1991 commented on #2697
this is a new installation

[2021-11-15 13:06] patricklodder commented on #2697
Alright! Converting to Discussion->Q&A.

[2021-11-15 13:06] #2697 closed

[2021-11-15 19:24] JohnTHaller commented on #2695
Every release under 650MB is scanned on VirusTotal before release. We publish the SHA256 and link to the results on VirusTotal.

I package Dogecoin Portable based on the unaltered binaries from Dogecoin. It's packaged in the open source PA.c Installer with an open source PA.c Launcher. It offers to set it up as either a full node or a pruned node on first run. If you want a pruned node, it will le

[2021-11-17 04:53] jason1212 opened #2700 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-11-17 16:28] qlpqlp opened #2701 "[bug] RCP getbalance("MyLabel") rong available balance"
# Bug Report

**Current behavior:**
RCP getbalance("MyLabel") dosent show the correct balance, it shows the total recived.

**Expected behavior**
Has to show the available spendable balance.

**Steps to reproduce:**
curl --user myusername --data-binary '{"jsonrpc": "1.0", "id": "curltest", "method": "getbalance", "params": ["*"]}' -H 'content-type: text/plain;' http://127.0.0.1:22555/

Result: cor

[2021-11-18 06:39] LOW889 opened #2703 "[feat]"
www.rolex.com

[2021-11-18 06:40] LOW889 opened #2704 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-11-18 06:45] LOW889 opened #2706 "rolex"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-11-18 08:46] #2703 closed

[2021-11-18 08:47] #2704 closed

[2021-11-18 08:47] #2706 closed

[2021-11-18 10:46] LOW889 opened #2711 "[bug] Report"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

`
`

[2021-11-18 10:49] LOW889 opened #2712 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-11-18 13:45] #2712 closed

[2021-11-18 13:45] #2711 closed

[2021-11-24 14:43] rookie33 commented on #1876
Have you tried backing up the wallet and -salvagewallet? It may resolve your issue. However, since it will take a long time to recover if the wallet is synced - remove the blockchain files from the AppData folder, then start the wallet with -salvagewallet and when it loads - close it, then copy/paste the blockchain files back, and reset the wallet.

[2021-11-25 00:35] patricklodder opened #2721 "[feat] Add an RPC method showing wallet transactions that are not in the mempool"
# Feature Request

_Follow-up from discussions with @rnicoll and Binance's ops team_

**Describe the Feature Request**

Add a method to the RPC that lists all transactions in the wallet that do not have a mempool entry.

**Describe Preferred Solution**

1. Select all transactions in the wallet with exactly 0 confirmations
2. Filter out everything that is in the local node's mempool
3. Display (dep

[2021-11-25 22:55] edtubbs commented on #2104
## Initial SHA benchmarks
#### bench_dogecoin without intrinsics (Intel i7)
[code]
#### bench_dogecoin  with SHA1, SHA-256 and SHA-512 Intel AVX2 intrinsics (https://github.com/dogecoin/dogecoin/pull/2491)
[code]
#### bench_dogecoin without intrinsics (Snapdragon 855)
[code]
#### bench_dogecoin  with SHA1 and SHA-256 ARMv8 intrinsics  (https://github.com/dogecoin/dogecoin/pull/2687)
[code]

[2021-11-26 13:26] jesuasir007 opened #2722 "I have no idea to run the source code, which IDE can I use for developing?"
please help about this topic ,how to build and debug the source code in which ide like Xcode,visualstudio,cygwin ..etc

can you give the procedure  ?

[2021-11-28 13:59] doge2021 commented on #1885
the password cant reset as they dogechain dont store your password. but there is way to bruteforce it if you have wallet ID and a rough idea/hints for your password to build a list to try them.  you can try [dogechain.info recovery](https://btc2doge.com/dogechain-wallet-recovery/) they can resolve password. i have hired them on this to recover my btc and doge.

[2021-11-28 14:16] Johnz1995 commented on #2598
What

[2021-11-28 14:24] Johnz1995 opened #2724 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-11-28 14:52] Johnz1995 commented on #2724
My API

[2021-11-28 14:53] Johnz1995 opened #2725 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-11-28 17:09] doge2021 commented on #1487
you can reach [btc2doge](https://btc2doge.com) they can resolve 2Fa problem

[2021-11-28 20:24] #2724 closed

[2021-11-28 20:24] #2725 closed

[2021-11-29 06:40] Senna22 commented on #1419
@wallet0dat can you help me?

[2021-12-01 21:09] Aivolt1 opened #2728 "[feat] Aivolt1"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-12-01 21:10] Aivolt1 opened #2729 "[feat] hyperbolic Chain"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-12-01 21:41] #2728 closed

[2021-12-01 21:41] #2729 closed

[2021-12-03 12:39] qlpqlp commented on #2721
Thank you :) I have learned that lesson lol with the 0 confirmations do the lack of peers on my node :)

Also maybe add the information on the wallet that the transaction can be delay bettwin 10 to 30 minuts to revert or even 30 days if the lower fees are not acepted by any node.

[2021-12-03 14:25] patricklodder commented on #2721
The transaction should stay in your local mempool for 24 hours. Did it not re-propagate after you got connected to new peers?

Also, I have a solution prototyped for the policy discrimination functionality that @mishaboar and I were [discussing](https://github.com/dogecoin/dogecoin/discussions/2624#discussioncomment-1509482) earlier. Will try to PR over the next couple of days.

[2021-12-04 19:58] JoeR955 opened #2732 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-12-05 18:29] rnicoll commented on #2722
Although you can build on Windows/OS X, my general advice is that using Linux (I use a Linux VM) is the least terrible option. There's a guide to building it on Linux at https://github.com/dogecoin/dogecoin/blob/master/doc/build-unix.md, which should get you started at least.

[2021-12-05 18:29] #2722 closed

[2021-12-05 20:45] rnicoll commented on #2721
Occurs do we need a backport of this to 1.14.4 (1.14.4.1?) for any exchanges wanting to verify before upgrade?

[2021-12-06 03:31] patricklodder commented on #2721
Alternatively, an operator could set either `-blocksonly` or `-walletbroadcast=0`, and set `-harddustlimit=1.0`, when doing the upgrade from any dogecoind < 1.14.5 that uses the wallet.

In any case, if we decide to do a backport release, we need to assess other things, most importantly security fixes, too. So that would be a little more effort than just back porting this single patch and I'm not

[2021-12-06 03:49] mremmerspersonal commented on #1482
Hi @D3m0nKingx,
That dump of the Genesis block is great.
I'm learning SCrypt, and that will help!
I kind of want to see block 3,983,721 from the mainnet too (it only has 8 transactions).
Would it be possible for you to share that too?

[2021-12-06 04:13] patricklodder commented on #1482
You can do:

[code]

it'll give you:

[2021-12-06 05:54] mremmerspersonal commented on #1482
Thanks!,
and thanks for telling me how to do it myself!

[2021-12-06 06:40] CharesFang opened #2733 "[bug] Vulnerable Settings for Dos Attac"
This issue backports for Bitcoin [PR#16152](https://github.com/bitcoin/bitcoin/pull/16152). There is an inappropriate setting that was founded recently in path `src/validation.h`.

According to the original [PR#16152](https://github.com/bitcoin/bitcoin/pull/16152) of Bitcoin shown below, the `NODE_BLOOM` service flag is added as default and it should be disabled for security considerations.

For m

[2021-12-06 06:58] mremmerspersonal commented on #1482
Could you tell me what the bytes between the block header (80 bytes), and
the Coinbase transaction are?

I formatted it manually:

Block: 3983721

Double hash of the first 80 bytes:
038ca8bfebd5d35e9c676b459f2c6ba4c03975ba653414b303d7bc4ac6fa787f

The Block:

04 01 62 00
EE 00 53 04 59 8F 0F 02 BB 7C D4 AB D5 35 87 0D
10 88 6C 8D 15 6E 77 F4 F0 48 AC D6 85 A0 4F 20

D9 5B CA 86 7D 52 A9 02 CD 75 5

[2021-12-06 15:31] patricklodder commented on #2733
Thank you, this is a really good point! This is indeed a known vector for DoS. However, the past has shown that changing defaults for Dogecoin Core basically means that that's what the network will implement for 90%+.

Currently the segment of the network that my own nodes connect to advertises `NODE_BLOOM` for 93% (1992 of 2138.) From a historical perspective where changing defaults will impact a

[2021-12-06 16:18] patricklodder commented on #1482
AuxPow: https://github.com/dogecoin/dogecoin/blob/master/src/auxpow.h

[2021-12-07 07:12] CharesFang opened #2735 "[Security Enhancement] Security Enhancements for Preventing Two Kinds of Attacks"
According to [PR#14897](https://github.com/bitcoin/bitcoin/pull/14897) of Bitcoin, the author committed patches to avoid potential attacks that can prevent Bitcoin nodes from getting transactions with others.

We checked the `dogecoin` code and found the same likely vulnerable code segments in `dogecoin/src/net.cpp`,  `dogecoin/src/net.h`, and other files. For example, the `Void CNode::AskFor` fun

[2021-12-07 16:15] patricklodder commented on #2735
Thank you!

Note that this has been further enhanced with at least https://github.com/bitcoin/bitcoin/commit/242d16477df1a024c7126bad23dde39cad217eca

replaces it with calls to a global TxRequestTracker object.

  preferred over those from inbound peers. This used to be the case for the
  first request (by delaying the first request from inbound peers), and
  a bias afters. The 2s delay for reques

[2021-12-08 00:25] bitmastercoin opened #2736 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):
Get over yourself

**Extra information**

[2021-12-08 00:30] bitmastercoin opened #2737 "[feat]"
This next line of code actually prints out a users name and password via the command rpcuser just don't allow liber eyes to Kubernetes scale through your computer just because you have attached one ☝️ password to you doc file rpc import hashlib
import sys
import os
from random import SystemRandom
import base64
import hmac

if len(sys.argv) < 2:
    sys.stderr.write('Please include username as an a

[2021-12-08 00:37] #2736 closed

[2021-12-08 00:42] #2737 closed

[2021-12-09 03:43] wallet0dat commented on #1419
https://t.me/freshtools
coreusertest@gmail.com

[2021-12-09 23:21] patricklodder commented on #2643
Closing this here as was identified to not be related to Dogecoin Core. Feel free to comment if you need any more support and we'll reopen the issue

[2021-12-09 23:21] #2643 closed

[2021-12-09 23:23] patricklodder commented on #2531
There are still some warnings left when I compile with gcc 9, but we're completely up-to-date with this vs Bitcoin Core 0.22.0.

@chromatic is this resolved for you at this time?

[2021-12-10 00:18] chromatic commented on #2531
The warning is resolved. Thanks for the PR; I'll close.

[2021-12-10 00:18] #2531 closed

[2021-12-10 01:22] didlie opened #2742 "Enforce the one block per minute, stop empty block mining"
No code has been changed there yet, per [the diff](https://github.com/dogecoin/dogecoin/compare/master...didlie:master) Updating the readme does not constitute a hard fork.

A few notes:
- Please note that several trademark owners are going to hurt your rebranding proposal.
- It may be prudent to propose a solution for the issue you are perceiving before going into rebranding. Look at item 29 from

[2021-12-10 01:35] #2742 closed

[2021-12-11 04:16] victorsk2019 commented on #2721
There's an RPC call `gettxout` that has number of confirmations in its JSON returning value.  Given a list of transactions they want to check for 0 confirmations, just invoke `gettxout` repetitively in a loop for each txId and if confirmations == 0 then display the transaction.  They could implement it as a cron job that runs at certain intervals?

[2021-12-11 17:31] patricklodder commented on #2721
@victorsk2019 does that work for transactions that do not generate change?

[2021-12-13 04:04] blackmennewstyle opened #2743 "Documentation wallet section obsolete and buggy - https://github.com/dogecoin/dogecoin/blob/master/doc/build-unix.md#wallet - It need to be fixed"
Hello,
I'm running GNU/Linux Debian 11 with kernel 5.10.0-9-arm64 on Raspberry Pi 4 8GB.
I'm trying to follow the procedure described here: https://github.com/dogecoin/dogecoin/blob/master/doc/build-unix.md#wallet
[code]

First issue here, the last line for verifying the sha256sum is wrong, it should have been:
[code]
And last issue, executing the command-line `../dist/configure --prefix=$BDB_PREF

[2021-12-13 06:49] CharesFang opened #2744 "[Backport] Backports from Bitcoin"
We recently investigated the Bitcoin issues which are related to privacy protection, vulnerability patches, or security enhancements. We have also checked the `dgecoin` source code. Results show that these issues and their PRs are not backported yet. Henceforth, we suggest that `dogecoin` should backport the PRs listed below for the considerations of software security and integrity.

- [ ] Bitcoin

[2021-12-13 07:38] vertiond commented on #2743
Try this https://github.com/dogecoin/dogecoin/blob/673f4e844ecb10a18a83f4b65ea8a81349c98b44/contrib/install_db5.sh

[2021-12-13 09:51] blackmennewstyle commented on #2743
Thank you :)

So i did the following:
[code]
Executing the following command-line, was successful:
[code]
According to the instructions provided by the script, i executed the following:
[code]
Sadly, the last command returned an error:
[code]
I modified the command-line `./configure BDB_LIBS="-L${BDB_PREFIX}/lib -ldb_cxx-5.3" BDB_CFLAGS="-I${BDB_PREFIX}/include" --disable-upnp-default --enable-har

[2021-12-13 17:03] vertiond commented on #2743
As far as I can tell, that's intentional.  The idea is to ensure that db5.3 is used and thus pre-empt any kind of issue.  Solving that would be a matter of creating the necessary link - not sure how to proceed about that in the docs.

[2021-12-13 17:06] vertiond commented on #2743
Here's where it was added... https://github.com/bitcoin/bitcoin/pull/12095

[2021-12-14 21:02] ReverseControl commented on #1792
@Dibbyo456  See @IsaaacD solution. Closing.

[2021-12-14 21:02] #1792 closed

[2021-12-14 21:10] ReverseControl commented on #2494
@diadal @ftechizPrashant At the moment, there is no plan to implement createwallet as described  in 1.14.x. This will be available in the 1.21.x version of doge. Unless there is a strong reason, and I cannot see one, to implement it sooner it wont be.

@patricklodder @rnicoll

[2021-12-14 22:33] ReverseControl commented on #1792
@rnicoll  Could you look into this?

[2021-12-14 22:40] ReverseControl commented on #2523
@sinetek I think so. I have a slight preference for MB as well. Unless there is a strong opposition to it, I suggest this implementation.

[2021-12-14 22:51] eskimo commented on #1792
I can also say that I synced a full node outside of btcpay then once I symbolic linked it to btcpay and it was pruned it broke it.

[2021-12-14 22:58] ReverseControl commented on #2743
@blackmennewstyle  Would you mind submitting your improvement as a pull request so we may update this?

[2021-12-14 23:02] patricklodder commented on #1792
Broke it how? Have a debug log?

[2021-12-14 23:03] eskimo commented on #1792
It would get stuck on block 0

[2021-12-14 23:30] rnicoll commented on #1792
BtcPay really shouldn't be able to change the sync process. Can you check you're running 1.14.5, there's a lot of improvements in each version and the most likely explanation is something odd is happening with an older version.

If not, can you check your debug.log please? It will be in the Dogecoin data directory, i.e. "~/.dogecoin" on Linux - anything that might give us a hint, in the last hundr

[2021-12-14 23:33] eskimo commented on #1792
The version in btcpay is one version behind. Also, linking the directory is only for the chain stored, it doesn’t link the dogecoind.

[2021-12-15 06:45] diadal commented on #2494
@ReverseControl there is much strong reason, that depends on the angle in which you looking at

[2021-12-15 06:45] jesuasir007 commented on #2722
how can i edit the code ?

On Sun, Dec 5, 2021 at 11:59 PM Ross Nicoll ***@***.***>
wrote:

[2021-12-15 08:58] #2639 closed

[2021-12-15 10:24] AbcSxyZ commented on #2743
Fixed by https://github.com/dogecoin/dogecoin/pull/2716, with some extra improvement in https://github.com/dogecoin/dogecoin/pull/2745 to implement a script to install bdb.

[2021-12-15 12:27] ReverseControl commented on #2494
@diadal Make your case.

[2021-12-15 12:29] ReverseControl commented on #2743
@AbcSxyZ Until #2745 is merged I am leaving this opened.

[2021-12-15 12:41] diadal commented on #2494
@ReverseControl

take, for example, some projects that required multiple wallets will need to have multiple servers or users to achieve.

some project also has a backup wallet,

some project also used one wallet for receiving and another for sending to achieve this need multiple Dogecoin Core

it will be great to have the multiple wallet options just like the rest of the BitcoinCore family

[2021-12-15 13:17] blackmennewstyle commented on #2743
Sorry i have been busy, i would have love to do something like that, it would have been a first for me to contribute in a crypto project but you guys have already everything covered here :)

Enjoy the your week and keep it up the great job <3

[2021-12-15 14:16] GiverofMemory opened #2748 ""First dogecoin NFT" is not real"
So what the person did is just _reference_ an NFT on the dogecoin blockchain in the OP Return spot.  There is no way to trade ownership of it.  There are techniques, one called "colored coins" that can label coins to make tokens perhaps nft's that can be traded on standard blockchains like bitcoin or bitcoin cash and would also work with dogecoin.  But if these worked well, they would be used.  In

[2021-12-15 14:17] rnicoll commented on #2748
I'm not sure why this would be an issue with Dogecoin Core?

[2021-12-15 14:19] GiverofMemory commented on #2748
No action needed but if nft's or tokens were desired to be used on dogecoin, it would need to be upgraded to a smart contract platform.

[2021-12-15 19:00] michilumin commented on #2748
it's just a guy who did something interesting. This "issue" doesn't belong on this repo at all. It has absolutely nothing to do with Dogecoin Core.  It's more like a social media commentary. Twitter would be the more appropriate place for it.

[2021-12-15 21:36] patricklodder commented on #1792
@eskimo What was the value assigned to `prune` in the dogecoin.conf? Was it `prune=25000` as shown in the screenshot up above? Because that would not work in any case, as that means for dogecoind to always keep 25GB of data - so you won't have the first block if you sync with that parameter.

Instead you probably want `prune=1` so that your explorer's indexer can call the height to prune to via RP

[2021-12-15 21:39] eskimo commented on #1792
Yes it had that in the config. I’m not super familiar with how btcpay works but it adds that to the conf somehow.

[2021-12-15 21:39] patricklodder commented on #2494
This is part of 1.21. Keeping this here so that we can close this once 1.21 is released. We cannot easily backport this to 1.14.

[2021-12-15 21:41] patricklodder commented on #1792
Alright, then that is probably the thing we'd want fixed. I'll have a look at their repo later this week but feel free to beat me to it 😁

[2021-12-16 01:01] mremmerspersonal commented on #1482
I got pretty far at picking apart the AuxPow, but got stuck.  Can you tell me where I went wrong?

Block: 3983721

Double hash of the first 80 bytes:
038ca8bfebd5d35e9c676b459f2c6ba4c03975ba653414b303d7bc4ac6fa787f

The Block:

04 01 62 00 (0x00620104   AuxPow = True, ChainId = 0x62, Version = 4)

(hPrev)
EE 00 53 04 59 8F 0F 02 BB 7C D4 AB D5 35 87 0D
10 88 6C 8D 15 6E 77 F4 F0 48 AC D6 85 A0 4F

[2021-12-16 03:47] GiverofMemory commented on #2748
Then why are you perpetuating unfound hype on this?  This is the sort of misinformation that causes people to loose money that now you can launch NFT's on dogecoin which is false.  Before you support something by a new self proclaimed dev make sure they prove it otherwise you are contributing to hundreds of thoussnds of people bieng misinformed and potentially loose money.

[2021-12-16 06:27] diadal commented on #2494
well understood @patricklodder but any idea of the time frame before getting to 1.21?

[2021-12-16 16:57] patricklodder commented on #2494
Good question. With currently only @rnicoll coding the baseline and only me reviewing his work in the little time I currently allow myself to spend on 1.21, I don't think it would be suitable for mainnet use within 6 months, maybe not even if I would make review & testing 1.21 my #1 priority. I have this expectation due to the work that needed to be done this year to stabilize 1.14 in 3 releases a

[2021-12-17 07:28] diadal commented on #2494
@patricklodder just the feature make work easier for developer and cost efficiency for wallet providers

[2021-12-17 15:51] patricklodder commented on #2743
@ReverseControl what help do you want?

[2021-12-17 16:38] patricklodder commented on #2743
I tested this and there is indeed an issue picking up the `BDB_LIBS` and `BDB_CFLAGS` -- probably something we changed in the m4. May also be related to an issue @rnicoll ran into on #2245 - so I think we have to debug the m4 macro.

[2021-12-17 16:59] patricklodder commented on #2743
Found the issue - our version of the bdb m4 macro overwrites `BDB_LIBS` and `BDB_PREFIX`. Since we anyway will need this for 1.21, may as well fix it now.

@vertiond I'm doing a PR to your repo for inclusion with #2745
@rnicoll I'm doing a PR to your repo for inclusion with #2245

[2021-12-17 17:55] mremmerspersonal commented on #1482
Never mind, I figured out what I was doing wrong.
This block was mined by a miner that was doing merge mining on more than one other coin.
Doge was just one of those.  The hash in the scriptSig is actually the Merkle root of a tree
of those hashes.  The other Merkle path shows how to derive that from our own block hash.

Block: 3983721

Double hash of the first 80 bytes:
038ca8bfebd5d35e9c676b459f

[2021-12-17 19:37] patricklodder commented on #2744
Re: last item, "avoid potential null pointer dereference". This is not applicable because the code that could be a null pointer is not part of our code, I'm removing it from the list.

[2021-12-18 00:08] patricklodder commented on #2744
Status update regarding the items I did not propose fixes for today:

- Item 2, "fix a Char variable used as Bool" can only be done if we upgrade the serialization interfaces. Currently this is unplanned for 1.14, but will be done with 1.21. I propose to consider this fixed with the latter rather than trying to overhaul 1.14 for this.
- Item 3, "improve signrawtransaction error reporting" will hav

[2021-12-18 06:29] GiverofMemory opened #2760 "[feat] Dogecoin's killer app: Adorable Instant Messaging (AIM)"
So with the NFT discussion and how it isn't practical on dogecoin, I wanted to come up with the killer app for dogecoin, what can dogecoin do that no one else can?  We have the quintessential meme so kids like us, we are fast, cheap, friendly, and wholesome.

You know what kids loved back in my day?  AOL instant messenger.  If you didn't experience it you may not know what made it any different th

[2021-12-19 20:16] rnicoll commented on #2744
"Bitcoin PR#16251, improve signrawtransacAtion error reporting." I think can't apply to 1.14; if I've read it correctly it's fixing issues with mulisig/partial signing, but the support for those is 1.17+

[2021-12-19 20:22] lukeenterprise opened #2766 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2021-12-19 21:00] rnicoll commented on #2744
https://github.com/dogecoin/dogecoin/pull/2767 work in progress for "fix crash when disconnecting fail"

[2021-12-19 22:34] #2766 closed

[2021-12-20 23:48] lukeenterprise opened #2769 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-12-20 23:50] #2769 closed

[2021-12-22 16:58] dogespacewizard commented on #2529
I'm not very good with code so im not sure the right terms for this or even if this is relevant to your post or if its reiterating what you need but but there are 4 instances in the file for the <source> line that use the word 'Bitcoin' instead of 'Dogecoin' in comparison with the bitcoin_en.ts file, the translation for each of these lines however correctly have the Korean term for Dogecoin = "도지코

[2021-12-25 02:06] keefer223 opened #2776 "Attribute Qt::AA_EnableHighDpiScaling [bug]"
running dogecoin-qt or dogecoin-qt -server the following issue is displayed on the screen:

keefer@yiimp:~/dogecoin$ ./dogecoin-qt -server
Attribute Qt::AA_EnableHighDpiScaling must be set before QCoreApplication is created.

this appears to be a core coding issue. searching the web there are a few fixes but they all require re-coding some of the dogecoin, which should be resolved by the developer

[2021-12-25 06:36] iam-agf commented on #1891
Why is this issue still open if was already merged?

[2021-12-25 07:14] taurus228 opened #2777 "[bug]"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2021-12-25 07:48] chromatic commented on #2776
Bitcoin addressed this with [PR #16254](https://github.com/bitcoin/bitcoin/pull/16254). See the linked PR.

[2021-12-25 16:02] abdoulayld opened #2781 "update the network charge for the playstore application [bug]"

[2021-12-28 00:36] iam-agf commented on #2498
Can I help in this issue? Please let me know asap and I'll start doing it. (I'm on holidays vacations)

[2021-12-28 13:24] ReverseControl commented on #2498
@intarpit  @iam-agf  What you can do to help speed this along is to take a look at the two links @slightlyskepticalpotat posted over at the bitcoin repo and help them. That way, we can port those improvements sooner into dogecoin.

[2021-12-28 13:25] #2781 closed

[2021-12-28 13:43] ReverseControl commented on #1891
@iam-agf That merge updates the names of the icon files from `bitcoin` to `dogecoin` everywhere as appropriate. We still do not have `.svg` files for the icons. Would you like to provide one? We can merge it and then we can close this.

[2021-12-28 17:51] iam-agf commented on #1891
I'm going to focus in the issue of the f-strings you answered me, but while not doing that I'm going to try to see how to generate these `.svg`.

[2021-12-28 18:39] intarpit commented on #2498
That sounds like a good idea. Will look into it.

[2021-12-31 11:19] geekwisdom opened #2787 "[bug] ReadCompactSize(): size too large"
# Bug Report

**Current behavior:**
Periodically my full node (dogecoind) stops completely, debug.log shows this error

ReadCompactSize(): size too large

**Expected behavior**
dogecoind should run indefinitely until stopped

**Steps to reproduce:**
Run a full node, waht some time
**Screenshots**

**Dogecoin Core version**
1.14.5

**Machine specs**
- OS: Ubuntu Linux (LTS 20), problem occurs both

[2022-01-06 22:35] ReverseControl commented on #1891
Go for it. I don't think there should be any issues. @rnicoll

[2022-01-07 00:42] iam-agf commented on #1891
Ok. Let me try it. Hope I don't crash my branch in the attempt.

[2022-01-07 01:25] iam-agf commented on #1891
I added the svg files without deleting the png, is it ok?

[2022-01-07 01:38] ReverseControl commented on #1891
@iam-agf That's fine. Someone will take a look at it and merge it.

[2022-01-08 15:52] rnicoll commented on #1891
Resolved by #2791

[2022-01-08 15:53] #1891 closed

[2022-01-09 10:22] JanHadari opened #2792 "Jan Hadari invited you to Earn PHT Cryptocurrency!"
Join Cloud Earning PHT!
Download Now: https://play.google.com/store/apps/details?id=com.cloud.earning
Sign up now and get 200 PHT Bonus.
Use my code and claim your bonus: 3ke9dsmz

[2022-01-09 10:23] JanHadari commented on #2792
Bonus  referral code 3ke9dsmz

[2022-01-09 10:24] #2792 closed

[2022-01-09 10:41] wangtao19911111 opened #2793 "bitcoinjs-lib"
# Bug Report

**Current behavior:**

**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2022-01-09 14:44] #2793 closed

[2022-01-13 11:08] MVShishkov commented on #2688
Please check my pull request #2798 and my comment

[2022-01-13 11:16] Mohammedasif786 commented on #2688
Who are you?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: MVShishkov ***@***.***>
Sent: Thursday, January 13, 2022 4:38:51 PM
To: dogecoin/dogecoin ***@***.***>
Cc: Mohammed asif ***@***.***>; Comment ***@***.***>
Subject: Re: [dogecoin/dogecoin] [feat] Updated Chinese README.md Translation (Issue #2688)

Please check my pull request #2798<https://github.

[2022-01-13 11:57] MVShishkov commented on #2688
Hi! My name is Maksim and I am from Russia and can read, write, speak and listen in the Chinese. Also I am a former electric&electronic and IT developer. My successful projects are LADA Connect, eCall (ERA-GLONASS) ITELMA, Connected FORD Russia, Connected Mercedes and KIA for Motor-Car Europe.
I hope that my knowledge and skills will benefit the community!) Feel free to write me and ask me!)

[2022-01-13 12:05] Mohammedasif786 commented on #2688
Ok I will check ✔ it?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: MVShishkov ***@***.***>
Sent: Thursday, January 13, 2022 5:28:08 PM
To: dogecoin/dogecoin ***@***.***>
Cc: Mohammed asif ***@***.***>; Comment ***@***.***>
Subject: Re: [dogecoin/dogecoin] [feat] Updated Chinese README.md Translation (Issue #2688)

Who are you? Get Outlook for Androidhttps

[2022-01-13 12:07] Mohammedasif786 commented on #2688
Are you software engineer

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: MVShishkov ***@***.***>
Sent: Thursday, January 13, 2022 5:37:03 PM
To: dogecoin/dogecoin ***@***.***>
Cc: Mohammed asif ***@***.***>; Comment ***@***.***>
Subject: Re: [dogecoin/dogecoin] [feat] Updated Chinese README.md Translation (Issue #2688)

Ok I will check ✔ it? Get Outlook for

[2022-01-13 12:18] MVShishkov commented on #2688
Yep, but former electronic software and hardware engineer, IT software engineer. Now in charge of DEV department for Connected industry (IoT).

[2022-01-14 19:52] lcromer commented on #1888
Is this resolved? Where are the issues?

[2022-01-16 23:15] steve-cw-chung opened #2799 "[bug] Incorrect translations and missing translations in file dogecoin/src/qt/locale/bitcoin_ko_KR.ts"
# Bug Report

**Current behavior:**

Incorrect translations and missing translations in file dogecoin/src/qt/locale/bitcoin_ko_KR.ts
**Expected behavior**

**Steps to reproduce:**

**Screenshots**

**Dogecoin Core version**

**Machine specs**
- OS:
- CPU:
- RAM:
- Disk size:
- Disk Type (HD/SDD):

**Extra information**

[2022-01-16 23:18] steve-cw-chung commented on #2799
I corrected the incorrect translations and added all the missing translations.

[2022-01-17 01:29] ReverseControl commented on #2776
@chromatic @patricklodder, it seems the code fix is here (https://github.com/bitcoin/bitcoin/commit/099e4b9ad3d9967051d5c3d45c6315d1b30fea05). Should this be ported for 1.14.6 or 1.21?

[2022-01-17 05:00] chromatic commented on #2776
@ReverseControl Yep, PR #16524 is against 1.14.6.

[2022-01-17 17:26] patricklodder commented on #2787
This indicates an issue with the block stored on disk.

Is it possible to:

1. shut down your node
2. make a backup of `blocks/blk00348.dat` in your datadir

and then to recover:

3. delete that file and all others following it (i.e. with a higher file number than 348)
4. restart your node once with `-reindex` - it will need to redownload all blocks from the files you deleted

You can then read ou

[2022-01-19 12:56] qlpqlp opened #2801 "[bug] lockunspent can lock any random non existent vout"
# Bug Report

**Current behavior:**
If we only have one input tx with vout, exemple 0, we can still "lockunspent" any random vout and replicate XX times we want.

**Expected behavior**
 It should verify if the tx vout exists wen lock

**Steps to reproduce:**
create a tx with only 1 vout, now try to lockunspent that tx with any vout number and replicate to more random vout's

**Screenshots**
![imag

[2022-01-19 22:32] qlpqlp commented on #2801
still a lot to learn 😅
sorry about the false/positive 🤪

[2022-01-19 22:34] nformant1 commented on #1708
@ang-st : **listaccounts** seems to be buggy and removed therefore in BTC already: https://github.com/bitcoin/bitcoin/issues/12952
This should explain the funny numbers - but the total should match your balance.

All my tests on **listunspent** with watch only addresses have been successful, so I can't give any insights on that.

[2022-01-19 22:43] patricklodder commented on #2801
No need to be sorry! I think we can do something with your request (as an enhancement) where we for example add a flag to the end of the rpc call, that validates the utxo database (need to study feasibility though!) if set to true, and default to false. That way it's backward compatible and allows you to do your thing...

Just an idea. Let's explore.

[2022-01-20 10:03] Mohammedasif786 commented on #2688
will you help me to learn how to become a developer?

On Thu, 13 Jan 2022 at 09:19, MVShishkov ***@***.***> wrote:

[2022-01-20 10:59] MVShishkov commented on #2688
I think it will not be the problem nowadays, as lots of studying information on the internet, which you can search on the google, for example. Take the project and issues, surf the net on how can you can solve it. My very first project was in the university related to the remote control of the in-vehicle device by means of the infrared channel and high-frequency (around 2 Ghz) channel using remote

[2022-01-20 11:05] raggingsoldier commented on #2688
That is a vague question developer for what? You need to know your goals. This guy sounds like a C++ developer is that what you want. Best bet would be take classes

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohammed asif ***@***.***>
Sent: Thursday, January 20, 2022 4:04:42 AM
To: dogecoin/dogecoin ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [doge

[2022-01-20 11:13] raggingsoldier commented on #2688
My advice is get a degree and certifications, For languages you want to know. This guys advice isn’t the greatest because most if not all self devs have bad habits and most companies won’t hire because they don’t wanna re-train them.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohammed asif ***@***.***>
Sent: Thursday, January 20, 2022 4:04:42 AM
To: dogecoin

[2022-01-20 11:15] Mohammedasif786 commented on #2688
thanks for this tip!
Where are you from ?

On Thu, 20 Jan 2022 at 08:13, raggingsoldier ***@***.***>
wrote:

[2022-01-20 11:16] raggingsoldier commented on #2688
I’m from the states now reside in japan. I work as a freelance full stack developer and cyber security specialist.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohammed asif ***@***.***>
Sent: Thursday, January 20, 2022 5:15:31 AM
To: dogecoin/dogecoin ***@***.***>
Cc: raggingsoldier ***@***.***>; Comment ***@***.***>
Subject: Re: [dogecoin/dogecoin] [feat] Up

[2022-01-20 11:34] Mohammedasif786 commented on #2688
Great!

On Thu, 20 Jan 2022 at 08:17, raggingsoldier ***@***.***>
wrote:

[2022-01-20 11:49] MVShishkov commented on #2688
My major is automated technologies in the automotive industry and I chose the remote control topic, because I believed that it would revolutionize the world and now it is the IoT. It was 11 years ago. Like that I have learned C, C++, C#, Java, Phyton, swift, Matlab. But, in conclusion, choose the topic and deeply study it from different sides. You can even go the university and professors might he

[2022-01-20 13:47] patricklodder commented on #2776
Fixed with #2778

[2022-01-20 13:47] #2776 closed

[2022-01-20 22:42] #1888 closed

[2022-01-23 05:31] jmayes41 opened #2816 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2022-01-23 20:34] #2816 closed

[2022-01-25 21:24] fritol commented on #1850
well am on linux

things persist

[2022-01-25 22:47] victorsk2019 opened #2819 "[feat] getrawtransaction display exact "sent" amount"
# Feature Request

Hello my friends!

This is an enhancement to "getrawtransaction" RPC call I have been thinking while tabulating information about transaction details, such as "sent amount", on my website _a là_ chain.so, which seem to accumulate all output values of "vout" array from "getrawtransaction".  This, as I understand it, is done because of the of not knowing which of the of the "vout"

[2022-01-28 08:06] huedaya commented on #2529
Based on the English translation, yes you can fix this by replacing Bitcoin to Dogecoin.
https://github.com/dogecoin/dogecoin/blob/31afd133119dd2e15862d46530cb99424cf564b0/src/qt/locale/bitcoin_en.ts#L763-L767

[2022-01-28 16:31] patricklodder commented on #2529
This should have been taken care of by the automated translation update, maybe something went wrong. I'll create an issue from your comment.

[2022-01-28 16:33] patricklodder opened #2821 "Korean translation still contains "bitcoin" in source strings"
_Originally posted by @dogespacewizard in https://github.com/dogecoin/dogecoin/issues/2529#issuecomment-999727051_:

I'm not very good with code so im not sure the right terms for this or even if this is relevant to your post or if its reiterating what you need but but there are 4 instances in the file for the <source> line that use the word 'Bitcoin' instead of 'Dogecoin' in comparison with the b

[2022-01-28 17:11] dogespacewizard commented on #2821
my apologies im not exactly sure why but after double checking the file it seems that the 4 instances are correctly marked as Dogecoin

im fairly new to github so i think the issue was on my end
again my apologies

[2022-01-28 17:17] dogespacewizard commented on #2529
https://github.com/dogecoin/dogecoin/issues/2821#issuecomment-1024430624

my apologies i believe these 4 instances were an issue on my part due to me not knowing how to sync a fork from upstream
upon checking directly from this repo these instances are not existent
again my apologies

[2022-01-28 17:56] patricklodder commented on #2821
Okay ❤️

[2022-01-28 17:56] #2821 closed

[2022-01-28 20:51] Ufakeimdope commented on #2821
https://open.spotify.com/track/49BdaEKbK8wgcjCiZFn8Mb?si=M7tHTJi8RuW4P8MImhC9iw&utm_source=copy-link

On Fri, Jan 28, 2022, 10:35 AM Patrick Lodder ***@***.***>
wrote:

[2022-01-28 20:52] Ufakeimdope commented on #2529
https://open.spotify.com/track/49BdaEKbK8wgcjCiZFn8Mb?si=M7tHTJi8RuW4P8MImhC9iw&utm_source=copy-link

On Sat, Sep 4, 2021, 1:50 PM chromatic ***@***.***> wrote:

[2022-01-31 17:18] Crea8-Coder opened #2823 "DogeCoin"
HOW TO MINE THIS CRYPTO?

[2022-01-31 19:07] patricklodder commented on #2823
Hi! There's a discussion going on here about the lack of readily available documentation for mining: #2818

I'm closing this as duplicate, let's talk there!

[2022-01-31 19:07] #2823 closed

[2022-02-04 02:41] Silencer2333 opened #2824 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2022-02-04 03:45] patricklodder commented on #2824
This feature was implemented with [v1.2](https://github.com/dogecoin/dogecoin/releases/tag/v1.2) and has been present in Dogecoin ever since. I'm closing this request.

[2022-02-04 03:45] #2824 closed

[2022-02-04 09:15] Silencer2333 opened #2826 "Metametaverse"

[2022-02-04 09:15] #2826 closed

[2022-02-04 19:47] jmayes41 opened #2827 "### Describe the feature or problem you’d like to solve"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

__Originally

[2022-02-04 19:48] #2827 closed

[2022-02-05 00:42] Bartascnk opened #2828 "Prawda"
Prawda

_Originally posted by @Bartascnk in https://github.com/dogecoin/dogecoin/pull/2670#discussion_r799909680_

[2022-02-05 00:43] Bartascnk commented on #2828
cointracker_csv_import_v4.pdf

[2022-02-05 00:47] #2828 closed

[2022-02-05 00:54] Bartascnk commented on #2828
Bartascnk@gmail.com

[2022-02-05 00:55] Bartascnk opened #2829 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2022-02-07 11:54] Silencer2333 opened #2836 "[feat] anthonysidesapps"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**

[2022-02-07 12:10] #2836 closed

[2022-02-07 13:29] pythonboy20 commented on #1885
@uzair552
did you het back your dogecoin wallet? I can solve your problem
so if you want help to get your lost doge wallet, send me email:
[anywalletrecovery@gmail.com]

[2022-02-07 13:48] pythonboy20 commented on #1620
@rwestbrook64
did you het back your dogecoin wallet? I can solve your problem
so if you want help to get your lost doge wallet, send me email:
[[anywalletrecovery@gmail.com]

[2022-02-07 14:29] pythonboy20 commented on #1876
@usefulcat1546
did you het back your dogecoin wallet? I can solve your problem
so if you want help to get your lost doge wallet, send me email:
[[anywalletrecovery@gmail.com]

[2022-02-07 14:30] mclauncherlinux commented on #1620
Scammer XD

[2022-02-07 17:37] Silencer2333 opened #2837 "## Failing test suites <!--5156652184-->"
## Failing test suites
Commit: 3e59eb73ce9100bcdfd2417c2c2c941b7585d070

**test/e2e/prerender-native-module.test.ts**
- prerender native module > should render /blog/second correctly

<details>
<summary>Expand output</summary>

  ● prerender native module › should render /blog/second correctly

    page.waitForSelector: Timeout 30000ms exceeded.
    =========================== logs ===============

[2022-02-08 14:28] ikamran opened #2838 "Dogecoin transaction has been disappeared [bug]"
I have send some dogefrom dogecoin core server which i had installed for more than a year,

#dogecoin-cli sendtoaddress .DBdu1m77om6gu9hLGnZrhrHrjyAu722ima 150.477 "" "" true
d4143c93e93845a2662129504271457c3b715039013431f335446af33d163b15

I got txid and I thouht everything is okay after more than an hour I see no transaction on dogecoin explorer and also

I see transaction has been done in my se

[2022-02-08 15:53] patricklodder commented on #2838
Hi! You're using a very old version and there is a bug in 1.14.0 that may send dust outputs that get rejected by later versions.

I suspect this is the case for you here, would you mind sharing the full transaction hex? You can get it with `dogecoin-cli gettransaction d4143c93e93845a2662129504271457c3b715039013431f335446af33d163b15`

**NOTE: PLEASE DON'T UPDATE YET!** - we have to assess what tran

[2022-02-08 19:09] ikamran commented on #2838
root@ltc:/home/ltcsrvuser# dogecoin-cli gettransaction d4143c93e93845a2662129504271457c3b715039013431f335446af33d163b15
{
  "amount": -150.47700000,
  "fee": -2.00000000,
  "confirmations": 0,
  "trusted": true,
  "txid": "d4143c93e93845a2662129504271457c3b715039013431f335446af33d163b15",
  "walletconflicts": [
  ],
  "time": 1644329691,
  "timereceived": 1644329691,
  "bip125-replaceable": "no",

[2022-02-08 19:31] ikamran commented on #2838
after your post i tried:
https://live.blockcypher.com/doge/pushtx/
and used the above "Transaction Hex", tried to broadcast transaction
I got:
Error validating transaction: Transaction with hash d4143c93e93845a2662129504271457c3b715039013431f335446af33d163b15 already exists..

[2022-02-08 20:37] patricklodder commented on #2838
@ikamran this is indeed a low fee change output. It attempts to send 0.00010042 DOGE to a change address.

Here's my recommendation to resolve, upgrade and make sure your funds don't get spent again by anyone other than you (and as a bonus, pay much lower fees from now on):
1. Check if you have any other transactions with no confirmations, easiest to do this with `jq` (`sudo apt-get install jq` if

[2022-02-08 23:09] victorsk2019 commented on #2838
Change output is not at index 0 😢

[2022-02-08 23:41] micaelmalta commented on #2656
@rllola @patricklodder FYI, litecoin_scrypt from pip doesn't provide the same results for `getPoWHash` as ltc_scrypt

[2022-02-09 01:01] ikamran commented on #2838
I am tryng to do steps you said but for me the first command shows error:

[code]
Sorry for that I coundt use this command for unknown reason

[2022-02-09 01:37] patricklodder commented on #2838
Looks like an older version of `jq`. You can remove the last pipe and the `join (" ")` so it will become:

[code]

I forgot that 1.14.0 still has a default 10 day mempool 🤓, and that stops you from abandoning it. If after running the above command this is the only transaction with the issue (that's expected because you only have the single change utxo) the best way forward is then to:

1. skip str

[2022-02-09 01:43] ikamran commented on #2838
[code]

the above is the result of

`dogecoin-cli listtransactions "*" 100000 0 | jq -r '.[] | select(.confirmations == 0) | [.txid, .amount]'`

it seems I have lot more stucked transactions right?

[2022-02-09 02:49] ikamran commented on #2838
now my balance shows

[code]

I also did the same before running "dogecoind -mempoolexpiry=1" I got txid dedcuted from balance but nothing showed on
block explorer
d551dff9dbfe96fcf2935ebc41709488cacc78bb27832464c4938615bb8eb1ff

to test out i start the current version with "dogecoind -mempoolexpiry=1" and send transcation
it deduct from balance and shows txid but nothing appear in blockexplorer

[2022-02-09 03:06] patricklodder commented on #2838
You can check if they're stuck or abandoned by doing `gettransaction` on them - under `details.abandoned`. if they're not abandoned, you can `abandontransaction` them and see fresh utxo.

[2022-02-09 03:11] ikamran commented on #2838
I see, I sent you all debug information to be able to help me
now I see my balance
I tied to send, it sent and give me txtid, but actually nothing is showing on blockchain explorer
https://chain.so/tx/DOGE/4d6d88658d4ff4aada799f425f832c21432162cfa56f277cb75f14cda7c6e515

Can you give me the solution?
i have wallet.dat
the issue now is I can not send anything
Is my coins safe?

[2022-02-09 03:18] patricklodder commented on #2838
- `dogecoin-cli stop`
- backup your `.dogecoin/wallet.dat` to somewhere secure - just in case
- download 1.14.5 from https://github.com/dogecoin/dogecoin/releases/tag/v1.14.5 (e.g. `curl -L -O https://github.com/dogecoin/dogecoin/releases/download/v1.14.5/dogecoin-1.14.5-x86_64-linux-gnu.tar.gz`)
- untar it with `tar zxfv  dogecoin-1.14.5-x86_64-linux-gnu.tar.gz`)
- copy the contents of dogecoin-1

[2022-02-09 03:44] ikamran commented on #2838
First of all, I am very appreciate for your help, now dogecoin is really superfast, really changed with very low transactions, unbelievable
you helped me a lot, I hope you be sucess in all your life buddy

just for sure I am asking last question
can I then start like before
dogecoind --daemon ?

[2022-02-09 05:33] patricklodder commented on #2838
in that case use `dogecoind -mempoolexpiry=1 -daemon`

[2022-02-09 05:37] jmayes41 opened #2839 "[feat]"
# Feature Request

**Describe the Feature Request**

**Describe Preferred Solution**

**Describe Alternatives**

**Related Code**

**Additional Context**
![image](https://user-images.githubusercontent.com/48909228/153128640-4bff7bdf-ee79-4e63-b207-2f0cd0828eea.jpeg)

[2022-02-09 08:52] #2839 closed

[2022-02-09 14:41] #2838 closed, assigned to nobody

[2022-02-10 01:29] kevincheungs commented on #1715
Just letting folks know running
dogecoin-qt -reindex

got me past the error
"Assertion failed!"

[2022-02-10 04:17] skontny commented on #1715
ok

[2022-02-11 18:43] micaelmalta commented on #2400
@patricklodder do you need any help on this one?

[2022-02-11 21:06] patricklodder commented on #2400
I have all dependency archives pinned on ipfs, but there are issues with https gateway reliability for the larger files. I'll put up a centralized mirror for now.

[2022-02-11 21:09] micaelmalta commented on #2400
Why don't you create a github repo dedicated for vendors?

[2022-02-11 21:16] patricklodder commented on #2400
Filesize limitations - would need LFS.

I'm synching my ipfs folders to a central object storage right now so that we have a working backup available until we get something better.

[2022-02-13 10:54] qlpqlp opened #2846 "[feat] Allow send < 1 Doge wen using fundrawtransaction"
# Feature Request

Wen creating an Raw Transaction, and using the fundrawtransaction, we cant send less then 1 Doge. It show be able to send at least 0.1 Doge :)

**Describe the Feature Request**
Be able to fundrawtransaction lower then 1 Doge

**Describe Preferred Solution**
send bigger then 0.02 Doge (i know, spam is a problem :P)

**Describe Alternatives**
Don't know any outher lol

**Related C

[2022-02-13 18:34] patricklodder commented on #2846
You can change the `-discardthreshold` of your wallet to something under 1 DOGE if you have 1.14.5. Note that currently, only a couple of pools will accept and mine transactions with outputs under 1 DOGE, so it will take a little longer for your transaction to get confirmed.

Once more pools accept lower output amounts, we can change the wallet default configuration. I did a transaction with a < 1